<div class="c-ideil">
    <a class="c-ideil-link" rel="noopener" target="_blank" href="https://www.ideil.com/">
        зроблено в
        <span class="sr-only">ideil.</span>

        <img width="55" height="18" src="../img/ideil.svg" alt="ideil. — website, e-commerce, mobile applications and software development services">
    </a>
</div>
