<div class="c-sizes">
    <div class="c-sizes__scroll">
        <ul class="c-sizes__list">
            {% for item in [
                {
                    title: '2XS',
                    value: '38–40'
                },
                {
                    title: 'XS',
                    value: '42'
                },
                {
                    title: 'XS',
                    value: '44'
                },
                {
                    title: 'M',
                    value: '46'
                },
                {
                    title: 'L',
                    value: '48'
                },
                {
                    title: 'XL',
                    value: '50'
                },
                {
                    title: '2Xl',
                    value: '52'
                },
                {
                    title: '3XL',
                    value: '54'
                },
            ] %}
                <li class="c-sizes__item">
                    <button
                        class="c-sizes__card {{ loop.index == 1 ? 'is-active' }} {{ loop.index == 2 ? 'is-disabled' }}"
                        data-tooltip-target="#sizeTooltip"
                    >
                        <div class="c-sizes__card-title">{{ item.title }}</div>
                        <div class="c-sizes__card-value">{{ item.value }}</div>
                    </button>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
