<div class="c-subscribe">
    <div class="l-box l-box--sm">
        <div class="c-subscribe__inner">
            <h2 class="c-subscribe__title c-title c-title--2">Підпишись на новини та отримай знижку 10%</h2>

            <div class="c-subscribe__btn">
                <a href="#" class="f-btn f-btn--outline-light f-btn--block" data-modal-target="#subscribeModal">Підписатися</a>
            </div>
        </div>
    </div>
</div>
<div class="c-subscribe">
    <div class="l-box l-box--sm">
        <div class="c-subscribe__inner">
            <h2 class="c-subscribe__title c-title c-title--2">Порадь Parkas другу та отримайте 500 грн</h2>

            <div class="c-subscribe__btn">
                <a href="#" class="f-btn f-btn--outline-light f-btn--block" data-modal-target="#subscribe2Modal">Порадити</a>
            </div>
        </div>
    </div>
</div>
