.c-filter-price {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &__item {

        &:nth-child(2) {
            margin-left: -1px;
        }

        .f-label {
            margin-bottom: 2px;
            color: rgba($black, .5);
        }

        .f-input {
            position: relative;

            &:hover,
            &:focus {
                z-index: 1;
            }
        }
    }
}
