.c-filter-section {
    margin-bottom: 10px;

    &--sorting {

        @include breakpoint(lg) {
            display: none;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        min-height: 42px;
        position: relative;
    }

    &__title {
        font-size: 18px;
        margin-right: auto;
        margin-bottom: -4px;

        @include breakpoint(lg) {
            font-size: 20px;
        }

        @include breakpoint(xl) {
            font-size: 22px;
            margin-bottom: -2px;
        }

        @include breakpoint(2xl) {
            font-size: 24px;
            margin-bottom: 0;
        }
    }

    &__toggle {
        opacity: .2;
        width: 40px;
        height: 40px;
        margin: -10px -10px -10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .i-icon {
            width: 16px;
            height: 16px;
            transition: opacity $transition,
                transform $transition;

            @include breakpoint(lg) {
                transform: rotate(90deg);
            }
        }

        .is-open & {

            .i-icon {

                @include breakpoint(lg) {
                    transform: rotate(270deg);
                }
            }
        }
    }

    &__selection {
        padding: 5px 0 10px;

        @include breakpoint(lg) {
            display: none;
        }
    }

    &__collapse {
        display: none;
        overflow-y: auto;

        &:not(:hover) {

            &::-webkit-scrollbar-thumb {
                background-color: rgba($black, .05);
            }
        }


        @include breakpoint(false, lg) {
            position: fixed;
            z-index: 2;
            inset: 0;
            background-color: $white;
        }

        @include breakpoint(lg) {
            max-height: 290px;
        }

        .c-filter-section.is-open & {
            display: block;
        }
    }

    &__back {
        position: relative;
        display: flex;
        align-items: center;
        padding: 20px 0 14px;
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid $gray-5;

        @include breakpoint(lg) {
            display: none;
        }

        &-toggle {
            font-weight: 700;
            margin-right: auto;
            display: flex;
            align-items: center;
            font-size: 18px;

            .i-icon {
                width: 16px;
                height: 16px;
                margin-right: 16px;
            }
        }
    }

    &__inner {
        padding: 10px 0;

        .c-filter-section__collapse & {

            @include breakpoint(false, lg) {
                padding: 0 20px 100px;
            }
        }
    }
}
