{% set title = title ?? 'Бестселери' %}
{% set special = special ?? random([1, 3]) %}

<div class="c-catalog-carousel c-catalog-home c-carousel c-carousel--list c-carousel--4 js-carousel" data-space-between="20">
    <div class="l-box">
        <div class="c-carousel-inner">
            <h2 class="c-carousel-title c-title c-title--3">{{ title }}</h2>

            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for item in [
                        {
                            title: 'Essential Pocket Tee',
                            isBadge: true,
                            image: '../img/demo/catalog/1_375x375'
                        },
                        {
                            title: 'Block Bobble Beanie',
                            image: '../img/demo/catalog/2_375x375',
                            isDiscount: true,
                            priceOld: '890 грн'
                        },
                        {
                            title: 'Graphic AOP Socks 3PK',
                            image: '../img/demo/catalog/3_375x375'
                        },
                        {
                            title: 'Essential Pocket Tee',
                            isBadge: true,
                            image: '../img/demo/catalog/1_375x375'
                        },
                        {
                            title: 'Block Bobble Beanie',
                            image: '../img/demo/catalog/2_375x375',
                            isDiscount: true,
                            priceOld: '890 грн'
                        },
                        {
                            title: 'Graphic AOP Socks 3PK',
                            image: '../img/demo/catalog/3_375x375'
                        },
                        {
                            title: 'Essential Pocket Tee',
                            isBadge: true,
                            image: '../img/demo/catalog/1_375x375'
                        },
                        {
                            title: 'Block Bobble Beanie',
                            image: '../img/demo/catalog/2_375x375',
                            isDiscount: true,
                            priceOld: '890 грн'
                        },
                    ] %}
                        <div class="swiper-slide">
                            {% if loop.index == special %}
                                {% include "../card/special.twig" with {
                                    isBadge: true,
                                } only %}
                            {% else %}
                                {% include "../card/base.twig" with item only %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-control">
                    <button class="swiper-button-prev">
                        <span class="sr-only">Попередній слайд</span>
                        <i class="i-icon i-arrow i-icon--left"></i>
                    </button>

                    <button class="swiper-button-next">
                        <span class="sr-only">наступний слайд</span>
                        <i class="i-icon i-arrow i-icon--right"></i>
                    </button>
                </div>
            </div>

            <div class="c-more">
                <a href="catalog.html" class="f-btn f-btn--outline-dark f-btn--rounded">Показати всі</a>
            </div>
        </div>
    </div>
</div>
