<div class="c-reviews-heading">
    <div class="c-reviews-top">
        <h2 class="c-title c-title--3">Відгуки <sup>3</sup></h2>

        <button class="f-btn f-btn--outline-dark" data-modal-target="#reviewCreateModal">
            <i class="i-icon i-review-add sm:hidden"></i>
            <span class="hidden sm:inline">Написати відгук</span>
        </button>
    </div>
</div>
