<div class="c-reviews-item">
    <div class="c-reviews-item__heading">
        <div class="c-reviews-item__name">ShaddyR</div>

        <time class="c-reviews-item__date">03 февраля 2021</time>

        <div class="c-rating">
            <div class="c-rating-stars">
                <i class="i-icon i-star"></i>
                <i class="i-icon i-star"></i>
                <i class="i-icon i-star"></i>
                <i class="i-icon i-star"></i>
                <i class="i-icon i-star-outline"></i>
            </div>
        </div>
    </div>

    <div class="c-reviews-item__content">
        <div class="c-expand js-expand">
            <div class="c-expand__collapse js-expand-collapse">
                <p>+ качественная вещь, соответствует текущему ценовому предложению. Чуть неудобны верхние карманы для прятать руки, пониже бы их. Два внутренних кармана на молниях – несомненный плюс. Молния металлическая, собачка двигается без особенных усилий. В глаза какие-либо косяки - типа ниток торчащих и пр. – не бросились.</p>
                <p>- не угадал с размером. Всё четко по размерной сетке, вроде села нормально, нигде не давит и не стесняет, одна беда – кисти полностью голые с частью руки. Т.е. рукавам не хватает сантиметров 4, не смотря на манжеты. Теперь вот не знаю – брать ли М или не брать вообще - кроме рукавов всё вроде как в точно соответствовало S.</p>

                {# <dl>
                    <dt>Переваги:</dt>
                    <dd>качество материала, пошив, тепло</dd>
                    <dt>Недоліки:</dt>
                    <dd>соответствие размеру по рукавам</dd>
                </dl> #}
            </div>

            <button class="c-expand__toggle f-btn--link js-expand-toggle" type="button">
                <span class="c-expand__toggle-show">Розгорнути</span>
                <span class="c-expand__toggle-hide">Згорнути</span>
            </button>
        </div>

        <button class="c-reviews-item__open f-btn--link f-btn--overlay" data-modal-target="#reviewViewModal"><b>1 відповідь</b></button>

        <div class="c-reviews-vote">
            <button class="f-btn--link c-reviews-vote__btn c-reviews-vote__like">
                <i class="i-icon i-like"></i>
            </button>
            <div class="c-reviews-vote__count">8</div>
            <button class="f-btn--link c-reviews-vote__btn c-reviews-vote__dislike">
                <i class="i-icon i-like-fill"></i>
            </button>
        </div>
    </div>
</div>
