<div class="c-reviews-product">
    <picture class="c-reviews-product__img">
        <source srcset="../img/demo/catalog/1_375x375.png, ../img/demo/catalog/1_375x375@2x.png 2x" type="image/png">
        <img src="../img/demo/catalog/1_375x375.png" width="118" height="148" alt="Б’юті-тонік для обличчя pH 5 – 150 мл">
    </picture>

    <div class="c-reviews-product__info">
        <div class="c-reviews-product__title">
            <a href="product.html" class="f-btn--overlay f-btn--link">Б’юті-тонік для обличчя pH 5 – 150 мл</a>
        </div>

        <div class="c-reviews-product__price">200 грн</div>
    </div>
</div>
