$utilities: (
    // "display": (
    //     responsive: true,
    //     print: true,
    //     property: display,
    //     class: d,
    //     values: inline inline-block block flex inline-flex none
    // ),
    // "margin-top": (
    //     responsive: true,
    //     property: margin-top,
    //     class: mt,
    //     values: map-merge($spacers, (auto: auto))
    // ),
    // "margin-bottom": (
    //     responsive: true,
    //     property: margin-bottom,
    //     class: mb,
    //     values: map-merge($spacers, (auto: auto))
    // )
);

.sr-only {
    @include sr-only;
}

.u-ellipsis {
    @include ellipsis;
}

.u-clear {
    @include clear;
}

.u-cover,
.u-contain,
.u-scale-down {
    @include cover;
}

.u-cover {
    img {
        object-fit: cover;
    }
}

.u-contain {
    img {
        object-fit: contain;
    }
}

.u-scale-down {
    img {
        object-fit: scale-down;
    }
}