<div class="m-modal"
    id="favouriteModal"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="favouriteModalTitle"
>
    <div class="m-dialog m-dialog--md m-dialog--centered">
        <div class="m-content">
            <div class="m-header">
                <button type="button" class="m-close f-btn--link" data-modal-dismiss="" aria-label="Закрити">
                    <i class="i-icon i-close"></i>
                </button>
            </div>

            <div class="text-center m-body">
                <div class="m-title c-title c-title--3" id="favouriteModalTitle">Зверніть увагу</div>

                <div class="m-text">
                    <p>Товар <b>Світшот Alpha Industries Essential Washed</b> додано до списку бажань, щоб зберегти його у своєму обліковому записі, необхідно <a href="#">увійти</a> або <a href="#">зареєструватися</a></p>
                </div>

                <div class="m-btns">
                    <button type="button" data-modal-dismiss="" class="f-btn f-btn--dark">
                        Зрозуміло
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

