<div
    className="m-modal"
    id="orderSuccessModal"
    tabIndex="-1"
    aria-hidden="true"
    aria-labelledby="orderSuccessModalTitle"
>
    <div className="m-dialog m-dialog--sm m-dialog--centered">
        <div className="m-content">
            <div className="m-header">
                <button
                    type="button"
                    className="m-close f-btn--link"
                    data-modal-dismiss=""
                    aria-label="Закрити"
                >
                    <i className="i-icon i-close" />
                </button>
            </div>

            <div className="text-center m-body">
                <div
                    className="m-title c-title c-title--3"
                    id="orderSuccessModalTitle"
                >Готово</div>

                <div className="m-text">
                    <p>Ваше замовлення отримано, очікуйте на дзвінок</p>
                </div>

                <div className="m-btns">
                    <button
                        type="button"
                        data-modal-dismiss=""
                        className="f-btn f-btn--dark"
                    >
                        Супер
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>;

