<div class="m-modal"
    id="reviewCreateModal"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="reviewCreateModalTitle"
>
    <div class="m-dialog m-dialog--sm m-dialog--centered">
        <div class="m-content c-reviews">
            <div class="m-header">
                <div class="m-title c-title c-title--4" id="reviewCreateModal">Залишити відгук</div>

                <button type="button" class="m-close f-btn--link" data-modal-dismiss="" aria-label="Закрити">
                    <i class="i-icon i-close"></i>
                </button>
            </div>

            <div class="m-body">
                <div class="mb-5">
                    {% include "./_components/reviews/product.twig" %}
                </div>

                <div class="f-group">
                    <label for="createReviewStars5" class="f-label">Ваша оцінка</label>
                    <div class="f-rating">
                        {% for i in 1..5 %}
                            <input type="radio" name="createReviewStars" id="createReviewStars{{ i }}" {{ loop.last ? 'checked' }}>
                            <label for="createReviewStars{{ i }}">
                                <div class="i-icon i-star"></div>
                                <div class="i-icon i-star-outline"></div>
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="f-group">
                    <label for="createReview" class="f-label">Відгук</label>
                    <textarea class="f-input" id="createReview" rows="5"></textarea>
                </div>

                <div class="my-5"><b>Олександр Олександров</b></div>

                <div class="f-submit">
                    <button class="f-btn f-btn--dark f-btn--block">Відправити</button>

                    <div class="f-submit__text">
                        <div class="f-check">
                            <input id="reviewCheckbox1" name="reviewCheckbox" type="checkbox" class="f-check-input" checked>
                            <label for="reviewCheckbox1" class="f-check-label">
                                Повідомляти про відповіді на вашу електронну пошту – <b>inbox@mail.com</b>
                            </label>
                        </div>

                        <div class="f-check">
                            <input id="reviewCheckbox2" name="reviewCheckbox" type="checkbox" class="f-check-input" checked>
                            <label for="reviewCheckbox2" class="f-check-label">
                                Повідомляти про відповіді на вашу електронну пошту – <b>inbox@mail.com</b>
                            </label>
                        </div>
                    </div>

                    <div class="f-submit__text">
                        Аби ваш відгук опублікували, ознайомтеся, будь ласка, з <a href="#">нашими правилами</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

