<div class="m-modal"
    id="signup3Modal"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="signup3ModalTitle"
>
    <div class="m-dialog m-dialog--lg m-dialog--centered">
        <div class="m-content m-content--bg">
            <div class="m-bg">
                <picture class="m-bg__img">
                    <source srcset="../img/demo/modal/bg-3_236x600.jpg, ../img/demo/modal/bg-3_236x600@2x.jpg 2x" type="image/jpeg">
                    <img src="../img/demo/modal/bg-3_236x600.jpg" width="236" height="600" alt="Bg">
                </picture>

                <div class="m-bg__logo">
                    <img src="../img/logo-white.svg" width="185" height="40" alt="Parkas">
                </div>
            </div>

            <div class="m-header">
                <button type="button" class="m-close f-btn--link" data-modal-dismiss="" aria-label="Закрити">
                    <i class="i-icon i-close"></i>
                </button>
            </div>

            <div class="m-body">
                <div class="mx-auto f-box">
                    <div class="m-title c-title c-title--3" id="signup3ModalTitle">Вхід</div>

                    <div class="f-group">
                        <label for="signupFirstName" class="f-label">Ім’я*</label>
                        <input type="text" id="signupFirstName" placeholder="Олександр" class="f-input">
                    </div>

                    <div class="f-group">
                        <label for="signupLastName" class="f-label">Прізвище*</label>
                        <input type="text" id="signupLastName" placeholder="Олександров" class="f-input">
                    </div>

                    <div class="f-group">
                        <label for="signupEmail" class="f-label">Електронна адреса*</label>
                        <input type="email" id="signupEmail" placeholder="mailbox@mail.com" class="f-input">
                    </div>

                    <div class="f-submit">
                        <button type="button" disabled="disabled" data-modal-dismiss="" class="f-btn f-btn--dark f-btn--block">
                            Увійти
                        </button>

                        <div class="f-submit__text f-submit__text--check"><i class="i-icon i-check"></i>Погоджуюся з <a href="#" class="f-btn--link">Правилами користування</a> онлайн-магазином Parkas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

