<div class="m-modal"
    id="sizesModal"
    tabindex="-1"
    aria-hidden="true"
    aria-labelledby="sizesModalTitle"
>
    <div class="m-dialog m-dialog--centered">
        <div class="m-content">
            <div class="m-header">
                <div class="m-title c-title c-title--3" id="sizesModalTitle">Виберіть розмір</div>

                <button type="button" class="m-close f-btn--link" data-modal-dismiss="" aria-label="Закрити">
                    <i class="i-icon i-close"></i>
                </button>
            </div>

            <div class="m-body">
                {% include "../sizes.twig" %}
            </div>
        </div>
    </div>
</div>

