.c-product-characteristics {
    font-size: 18px;

    &__item {
        display: flex;
        margin-bottom: 12px;
        line-height: 22px;
        align-items: flex-start;

        @include breakpoint(sm) {

            &:before {
                content: '';
                display: block;
                flex-grow: 1;
                margin: 0 10px;
                height: 20px;
                border-bottom: 1px dotted $gray;
            }
        }

        dt {
            margin-right: auto;
            position: relative;
            order: -1;
        }

        dd {
            width: 50%;
            flex-shrink: 0;
            font-weight: 700;
            background-color: $white;

            @include breakpoint(xl) {
                width: 33%;
            }
        }
    }
}
