.c-product-controls {
    grid-area: controls;
    min-width: 0;
    margin-bottom: 40px;

    @include breakpoint(lg) {
        padding-left: 40px;
        padding-right: 20px;
    }

    &__inner {

        @include breakpoint(lg) {
            position: sticky;
            padding-top: 20px;
            top: var(--header-height);
        }
    }
}
