.c-product-details {
    display: flex;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 18px;

    @include breakpoint(false, md) {
        font-size: 16px;
    }

    &__icon {
        flex-shrink: 0;
        margin-right: 10px;

        .i-icon {
            width: 48px;
            height: 48px;
        }
    }

    &__title {
        font-weight: 700;
    }
}
