.c-product-media {
    grid-area: media;
    min-width: 0;
    margin-bottom: 20px;

    @include breakpoint(lg) {
        margin-bottom: 40px;
    }

    @include breakpoint(xl) {
        padding-left: 118px;
    }

    picture {
        width: 100%;
        display: block;
        position: relative;
    }

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__carousel {
        position: relative;

        @include breakpoint(false, sm) {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        display: none;

        @include breakpoint(xl) {
            left: -118px;
            display: block;
        }

        picture {
            transition: background-color $transition;
            overflow: hidden;

            &:before {
                content: '';
                inset: 0;
                display: block;
                position: absolute;
                border: 1px solid $gray-6;
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                position: absolute;
                background-color: $black;
                left: 0;
                bottom: 0;
                transition: height $transition;
            }
        }

        &.swiper {
            width: 98px;
            height: 100%;
        }

        .swiper-slide {
            cursor: pointer;

            &:hover {

                picture {
                    background-color: $gray-6;
                }
            }

            &-thumb-active {
                pointer-events: none;

                picture {
                    background-color: $gray-6;

                    &:after {
                        height: 4px;
                    }
                }
            }
        }
    }

    &__main {
        background-color: $gray-6;

        picture {
            height: 442px;

            @include breakpoint(md) {
                height: 620px;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: flex;

            &:hover {
                background-color: rgba($white, .8);
            }
        }

        .swiper-button-prev {

            @include breakpoint(false, lg) {
                left: 10px;
            }
        }

        .swiper-button-next {

            @include breakpoint(false, lg) {
                right: 10px;
            }
        }
    }
}
