.c-product-nav {

    .c-tabs {
        text-align: center;
        margin: 0;
        border-bottom: 1px solid rgba($black, .1);

        @include breakpoint(false, md) {
            font-size: 16px;
        }

        &__list {
            flex-grow: 0;
            margin: auto;
            padding: 12px 0;
        }

        &__link {
            height: 36px;
            border-radius: 4px;
            font-weight: 400;
            border: none;

            &:hover {
                background-color: $gray-6;
                color: inherit;
            }
        }

        &__item {
            margin-right: 10px;

            &.is-active {

                .c-tabs__link {
                    background-color: $gray-6;
                    font-weight: 700;
                    color: inherit;
                }
            }
        }
    }
}
