.c-product-ruler {
    display: flex;
    align-items: center;
    position: relative;

    &:after {
        content: '';
        width: calc(100% - 34px);
        display: block;
        position: absolute;
        right: 0;
        bottom: 4px;
        border-bottom: 1px solid currentColor;
    }

    .i-icon {
        margin-right: 10px;
    }
}
