.c-product-section {
    margin-bottom: 40px;

    @include breakpoint(lg) {
        font-size: 20px;
        margin-bottom: 60px;
    }

    @include breakpoint(xl) {
        margin-bottom: 80px;
        font-size: 22px;
    }

    &__title {
        max-width: 688px;
        margin-bottom: 20px;
    }

    a {

        &:not(.f-btn) {
            text-decoration: underline;
        }
    }

    p {

        &:not(:last-child) {
            margin-bottom: 20px;

            @include breakpoint(xl) {
                margin-bottom: 32px;
            }
        }
    }

    h3 {
        font-weight: 700;
        margin-bottom: 12px;
        font-size: 20px;

        @include breakpoint(lg) {
            font-size: 22px;
        }
    }

    table {
        font-size: 18px;
        width: 100%;
    }

    th {
        text-align: left;
        padding-bottom: 8px;
    }

    td {
        padding-top: 10px;
        padding-bottom: 6px;
        padding-top: 6px;
    }

    thead {
        tr {
            border-bottom: 1px solid rgba($black, .1);
        }
    }

    tbody {
        tr {
            transition: background-color $transition;

            &:hover {
                background-color: $gray-6;
            }
        }
    }
}
