<!DOCTYPE html><html class="no-js"><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>&#x413;&#x43E;&#x43B;&#x43E;&#x432;&#x43D;&#x430; | Website Name</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    

    <link rel="stylesheet" href="../../src/css/app.css">

    
    <script src="../../vendor/modernizr.min.js"></script>

    <script>
        window.App = {
            baseUrl: '/',
            staticUrl: '/',
            cdn: '../../src/js/'
        }
    </script>
</head>

    <body>
        <header class="c-banner">
            <p>Application banner content</p>

<img src="../../img/zzz/brand-1.6de9e1855814453d.jpg" alt="">
        </header>

        <img src="../../img/zzz/brand-1.6de9e1855814453d.jpg" alt="">

        <main>
                <h1>Page heading</h1>

        </main>

        <footer class="c-footer">
            <p>Application footer content</p>

<p class="c-copy">&#xA9; 2018 ideil</p>

<p class="c-ideil">made by <a href="https://www.ideil.com/">ideil</a></p>
        </footer>

        <script src="../../vendor/jquery.min.js"></script>
<script src="../../src/js/vendor.js"></script>
<script src="../../src/js/app.js"></script>    

</body></html>