.f-checkblock {
    min-height: 80px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    width: 100%;

    &-input {
        position: absolute;
        left: 16px;
        top: calc(50% - 10px);
        width: 20px;
        height: 20px;
        border: 1px solid $primary;
        background-color: $white;
        appearance: none;
        transition: border-color $transition,
            background-color $transition;

        &:disabled {
            opacity: .5;
            pointer-events: none;
            border-color: $primary;
        }

        &:hover {
            background-color: $gray-5;
        }

        &:checked {
            border-color: $primary;
        }

        &[type=radio] {
            border-radius: 50%;

            &:checked {
                background-color: $white;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8Z' fill='black'/%3E%3C/svg%3E");
                background-size: 12px;
                background-position: 3px 3px;
                background-repeat: no-repeat;
            }
        }

        &[type=checkbox] {

            &:checked {
                background-color: $primary;
                background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8536 1.35359L5.00004 9.20714L0.146484 4.35359L0.853591 3.64648L5.00004 7.79293L12.1465 0.646484L12.8536 1.35359Z' fill='white'/%3E%3C/svg%3E%0A");
                background-size: 14px;
                background-position: center bottom 4px;
                background-repeat: no-repeat;
            }
        }
    }

    &-label {
        width: 100%;
        padding: 20px 20px 20px 52px;
        border-radius: 10px;
        border: 1px solid rgba($black, .2);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // justify-content: center;
        // flex-direction: column;
        line-height: 1.2;
        font-weight: 700;
        cursor: pointer;
        transition: color $transition;

        .f-checkblock-input:disabled ~ & {
            opacity: .5;
            pointer-events: none;
            color: currentColor;
        }

        .f-checkblock-input:checked ~ & {
            border-color: $black;
        }

        &__img {

            &:not(:first-child) {
                margin-left: auto;
            }
        }

        &__info {
            width: 100%;
            font-weight: initial;
            margin-top: 6px;
            font-size: 16px;
        }
    }
}
