.f-rating {
    display: inline-flex;
    column-gap: 20px;

    .i-icon {
        width: 36px;
        height: 36px;
    }

    .i-star {
        position: absolute;
        inset: 0;
        transition: opacity $transition;
    }

    label {
        line-height: 0;
        display: block;
        cursor: pointer;
        position: relative;
    }

    input {
        appearance: none;
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;

        &:checked ~ input ~ label {

            .i-star {
                opacity: 0;
            }
        }
    }

    &:hover {

        input {

            ~ input ~ label {

                .i-star {
                    opacity: 1;
                }
            }

            &:hover ~ input ~ label {

                .i-star {
                    opacity: 0;
                }
            }
        }
    }
}
