<div class="c-product-nav">
    {% include "./_components/tabs.twig" with {
        links: ['Все про товар', 'Опис', 'Відгуки 1', 'Характеристики', 'Про бренд', 'Ціни на куртки AirBoss', 'Схожі товари']
    } %}
</div>
