<div class="c-product-props">
    <div class="c-product-props__item c-rating">
        <div class="c-rating-stars">
            <i class="i-icon i-star"></i>
            <i class="i-icon i-star"></i>
            <i class="i-icon i-star"></i>
            <i class="i-icon i-star"></i>
            <i class="i-icon i-star-outline"></i>
        </div>
        <div class="c-rating-value">4</div>
        <div class="c-rating-reviews">1 відгук</div>
    </div>
    <div class="c-product-props__item text-gray">Артикул: 123456</div>
    <div class="c-product-props__item text-gray">AirBoss Shuttle Parka</div>
    <div class="c-product-props__item">Унісекс</div>
</div>
