html {
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 0;
    cursor: inherit;
}

:focus:not(:focus-visible) {
    outline: none;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

::selection {
    background: rgba($primary, .3);
}
