.c-edits-card {
    position: relative;
    width: 100%;
    color: $white;

    &__img {
        min-height: 390px;
        background-color: $gray-5;
        @include cover;

        &:before {
            padding-bottom: calc(390/690 * 100%);
        }

        &:after {
            content: '';
            position: absolute;
            inset: 50% 0 0;
            opacity: .8;
            background-image: linear-gradient(to top, rgba($black, 1), rgba($black, 0));
        }

        img {
            object-fit: cover;
        }

        .c-edits-card--category & {
            min-height: 240px;

            &:after {
                opacity: .4;
            }
        }

        .c-edits-card--sm & {

            @include breakpoint(xl) {
                min-height: 240px;

                &:after {
                    opacity: .4;
                }
            }
        }
    }

    &__tag {
        font-size: 12px;
        line-height: 20px;
        background-color: $white;
        border: 1px solid $black;
        color: $black;
        position: absolute;
        text-align: center;
        left: 20px;
        top: 20px;
        z-index: 1;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        border-radius: 99px;
        min-width: 140px;
        padding: 0 10px;
    }

    &__title {
        max-width: 520px;
        color: currentColor;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        padding: 52px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .c-edits-card--category & {
            align-items: flex-start;
            justify-content: flex-end;
            text-align: left;
        }

        .c-edits-card--sm & {

            @include breakpoint(xl) {
                align-items: flex-start;
                justify-content: flex-end;
                text-align: left;
            }
        }
    }

    &__btn {
        margin-top: 10px;

        .c-edits-card--sm & {

            @include breakpoint(xl) {
                display: none;
            }
        }

        .f-btn {
            position: relative;
            z-index: 1;

            @include breakpoint(lg) {
                height: auto;
                padding: 11px 12px 14px;
                font-size: 20px;
            }

            @include breakpoint(xl) {
                font-size: 24px;
            }
        }
    }
}
