.c-page-error {
    flex-direction: column;
    align-items: center;

    &__inner {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: offset('lg') 0;
        text-align: center;

        .code {
            color: $white;
            font-weight: 700;
            font-size: 8rem;
        }

        .title {
            font-weight: $font-weight-bold;
            font-size: $h4-font-size;
            margin-bottom: 10px;
        }

        .description {
            margin-bottom: 30px;
        }
    }
}

@include media-breakpoint-up(lg) {

    .c-page-error {
        &__inner {
            padding: 120px 0;

            .code {
                font-size: 120px;
            }

            .title {
                font-size: 50px;
            }
        }
    }

}