@include media-breakpoint-down(sm) {
    .c-banner {
        &:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $black;
            opacity: 0;
            visibility: hidden;
            transition: $transition;
            z-index: 99;

            .is-sidebar & {
                opacity: .5;
                visibility: visible;
            }
        }
    }

    .c-sidebar {
        display: flex;
        flex-direction: column;
        width: $sidebar;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $gray-900;
        z-index: 99;
        transform: translateX(-100%);
        overflow-y: auto;
        transition: transform $transition ease-out;
        -webkit-overflow-scrolling: touch;

        .is-sidebar & {
            transform: translateX(0);
        }
    }

    .c-sidebar__logo {
        padding: gutter('sm');

        svg {
            display: block;
            width: 100%;
            height: 68px;

            .text {
                fill: $white;
            }
        }
    }

}

@include media-breakpoint-up(md) {

    .c-sidebar {
        display: flex;
        align-items: center;
    }

    .c-sidebar__logo {
        display: none;
    }

}