.c-brands {
    background-color: $white;

    &__heading {
        svg {
            height: 30px;
            width: auto;
            max-width: 50px;
        }

        .title {
            text-transform: uppercase;
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
            margin-top: gutter('sm');
            margin-bottom: gutter('sm');
        }
    }

    &__col {
        padding: gutter('sm') gutter('sm') $gutter;
    }

    .item {
        &:not(:last-child) {
            margin-bottom: offset('xs');
        }
    }

    .link {
        font-size: $font-size-sm;
        color: $black;
        @include link;

        &:hover {
            color: $primary;
        }
    }
}

@include media-breakpoint-down(sm) {

    .c-brands {
        &__col {
            &:not(:last-child) {
                border-bottom: 2px solid $gray-200;
            }
        }
    }

}

@include media-breakpoint-up(md) {

    .c-brands {
        background-color: $white;
        display: flex;
        flex-wrap: wrap;

        &__col {
            width: 50%;
        }
    }

}

@include media-breakpoint-between(md, xl) {

    .c-brands {
        &__col {
            border-bottom: 2px solid $gray-200;

            &:nth-child(2n+1):nth-last-child(-n+2) {
                &, & ~ * {
                    border-bottom: none;
                }
            }

            &:nth-child(2n-1) {
                border-right: 2px solid $gray-200;
            }
        }
    }

}

@include media-breakpoint-up(lg) {

    .c-brands {
        &__col {
            padding: $gutter $gutter gutter('lg');
        }

        &__heading {
            .title {
                margin-top: $gutter;
                margin-bottom: $offset;
            }
        }
    }

}

@include media-breakpoint-up(hd) {

    .c-brands {
        &__col {
            width: 25%;
            flex-grow: 1;

            &:not(:last-child) {
                border-right: 2px solid $gray-200;
            }
        }
    }

}
