//# Bootstrap Misc
//
//* Revrite bootstrap defaults before App styles

.text-hide {
    margin: 0;
    padding: 0;
}

.btn {
    font-size: $font-size-sm;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
    box-shadow: none !important;
}

.badge {
    color: $white;
}

.badge-dark {
    background-color: $gray-600;
}

.badge--sm {
    padding: 5px 10px;
    font-size: 1.4rem;
}

.badge--icon {
    padding: 6px 12px;

    svg {
        display: block;
    }
}

.form-control {
    font-size: $font-size-sm;
    box-shadow: none !important;
}

.pagination {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 0;

    .page-divider {
        &:hover {
            color: $black;
            cursor: default;
        }
    }

    @include media-breakpoint-down(sm) {
        position: relative;
        padding-left: 35px;
        padding-right: 35px;
        flex-wrap: wrap;

        .page-prev,
        .page-next {
            position: absolute;
            top: 0;

            span {
                display: none;
            }
        }

        .page-prev {
            left: 5px;

            .page-link {
                &:before {
                    content: '«'
                }
            }
        }

        .page-next {
            right: 5px;

            .page-link {
                &:before {
                    content: '»'
                }
            }
        }

    }
}

.breadcrumb {
    margin: $offset 0;
    font-size: $font-size-sm;

    a {
        color: $gray-600;
        @include link;

        &:hover {
            color: $black;
        }
    }

    &-item {
        + .breadcrumb-item:before {
            content: '';
            width: 6px;
            height: 6px;
            margin: 0 7px 2px;
            border-right: 1px solid currentColor;
            border-bottom: 1px solid currentColor;
            transform: rotate(-45deg);
        }
    }
}

.c-number {
    position: relative;
    width: 100px;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 36px;
        padding: 0;
        border: none;
        background: none;
        color: $gray-600;
        cursor: pointer;

        &:hover {
            color: $black;
        }

        &:before {
            content: '';
            display: block;
            height: 2px;
            width: 10px;
            position: absolute;
            top: 19px;
            left: 13px;
            background-color: currentColor;
        }

        &:first-of-type {
            left: 0;
        }

        &:last-of-type {
            right: 0;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 15px;
                left: 17px;
                height: 10px;
                width: 2px;
                background-color: currentColor;
            }
        }
    }

    .form-control {
        padding-left: 36px;
        padding-right: 36px;
        text-align: center;
    }
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.alert {
    color: $black;
    font-size: $font-size-sm;
}

.nav-pills {
    border-top: 2px solid $gray-200;
    border-bottom: 2px solid $gray-200;
    line-height: 1.4;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .nav-item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    .nav-link {
        padding: 22px 0;
        color: $gray-600;
        background: none;
        text-transform: uppercase;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;

        &.active {
            color: $primary;
            background: none;
        }
    }
}

.tab-content {
    padding: $offset 0;

    @include media-breakpoint-up(hd) {
        padding: offset('lg') 0;
    }
}

.table {
    font-size: $font-size-sm;
    border: 2px solid $gray-200;
    text-align: center;

    tr {
        &:nth-child(odd) {
            background-color: #f2f2f2;
        }
    }

    thead + tbody {
        tr {
            &:nth-child(odd) {
                background-color: $white;
            }

            &:nth-child(even) {
                background-color: $gray-100;
            }
        }
    }

    th {
        font-weight: normal;
    }

    th, td {
        border-width: 2px;
        border-right: 2px solid $gray-200;
    }
}

.modal-header {
    padding-bottom: 0;
    align-items: center;
}

.modal-title {
    font-size: 2rem;
    line-height: $headings-line-height;
}

.form-label {
    margin-bottom: 10px;
    font-size: 1.4rem;
    line-height: 1;
}

.form-group--row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.invalid-feedback {
    display: block;
}

.invalid-feedback--after {
    margin-top: $form-text-margin-top - $form-group-margin-bottom;
    margin-bottom: $form-group-margin-bottom;
}

.c-fieldset {
    margin-bottom: gutter('sm'); // 20

    &.c-fieldset--input {
        margin-bottom: 10px; // + form-group margin (15px)
    }

    &__title {
        font-size: 2rem;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: $offset;  // 30

        &.c-fieldset--input {
            margin-bottom: gutter('sm'); // + form-group margin (15px)
        }

        &__title {
            font-size: $h5-font-size;
            margin-bottom: gutter('sm');
        }
    }

    @include media-breakpoint-up(xl) {
        &.c-fieldset--input {
            margin-bottom: 5px; // + form-group margin (30px)
        }
    }
}

@include media-breakpoint-down(md) {
    .modal-dialog {
        max-width: calc(100% - #{$modal-dialog-margin-y-sm-up} * 2);
    }
}

@include media-breakpoint-down(xs) {

    .form-group--sm {
        max-width: 50%;
    }

    .form-group--xs {
        max-width: 35%;
    }

}

@include media-breakpoint-up(lg) {
    .modal-header {
        padding: 50px 50px 0;
    }

    .modal-body {
        padding: 50px;;
    }

    .modal-title {
        font-size: $h3-font-size;
    }
}

@include media-breakpoint-up(xl) {

    .form-group {
        margin-bottom: 3rem;
    }

    .invalid-feedback--after {
        margin-top: $form-text-margin-top - 3rem;
        margin-bottom: 3rem;
    }

    .c-birthday {
        > [class*="col-"]:not(:last-child) {
            .form-group {
                margin-bottom: $form-group-margin-bottom;
            }
        }
    }
    
}
