.c-cabinet {
    background-color: $white;
    padding: gutter('sm');

    &__inner {
        max-width: 1400px;
        margin-bottom: $gutter;
    }

    &__col {
        margin-bottom: $offset;
        font-size: $font-size-sm;

        &-title {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            margin-bottom: offset('sm');
            border-bottom: 2px solid $gray-200;
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
            line-height: 25px;

            svg {
                margin-right: 10px;
                margin-top: -3px;
                fill: $primary;
            }
        }

        &-subtitle {
            font-weight: $font-weight-bold;
            margin-top: $offset;
            margin-bottom: offset('xs');

            @include media-breakpoint-up(xl) {
                margin-top: $gutter;
                margin-bottom: offset('sm');
            }
        }

        .item {
            line-height: 1.4;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        .title {
            color: $gray-600;
        }

        .value {
            word-break: break-word;
        }
    }
}

@media (min-width: breakpoint-min(sm)) and (max-width: breakpoint-max(md)), (min-width: breakpoint-min(hd)) {

    .c-cabinet {
        &__col {
            .item {
                display: flex;
                align-items: flex-start;
            }

            .title {
                width: 150px;
                padding-right: offset('sm');
                flex-shrink: 0;
            }
        }
    }

}

@include media-breakpoint-up(lg) {

    .c-cabinet {
        padding: $gutter;

        &__inner {
            display: flex;
            align-items: flex-start;
            margin-left: offset('sm') * -1;
            margin-right: offset('sm') * -1;
        }

        &__col {
            width: 33.3334%;
            padding: 0 offset('sm');

            &-title {
                margin-bottom: gutter('sm');
            }
        }
    }

}

@include media-breakpoint-up(xl) {

    .c-cabinet {
        padding-left: offset('lg');
        padding-right: offset('lg');

        &__inner {
            margin-left: gutter('sm') * -1;
            margin-right: gutter('sm') * -1;
        }

        &__col {
            padding: 0 gutter('sm');
        }
    }

}

@include media-breakpoint-up(fd) {

    .c-cabinet {
        &__inner {
            margin-left: -$gutter;
            margin-right: -$gutter;
        }

        &__col {
            padding: 0 $gutter;
        }
    }

}