.c-category {
    position: relative;
    font-size: $font-size-sm;
    line-height: 1;
    z-index: 1;
}

.c-category__inner {
    background-color: $white;
    box-shadow: 0 10px 30px rgba($black, .08);
}

.c-category__list {
    display: flex;
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.c-category__item {
    flex: 1 0 130px;

    &:not(:last-child) {
        border-right: 2px solid $gray-200;
    }
}

.c-category__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130px;
    color: $black;

    &:hover {
        color: $primary;
        text-decoration: none;
    }

    svg {
        margin-bottom: 12px;
        fill: currentColor;
    }
}

@include media-breakpoint-down(sm) {

    .c-category {

        .container {
            max-width: 100%;
            padding: 0;
        }
    }

}

@include media-breakpoint-up(md) {

    .c-category {
        margin-top: -65px;
    }

}

@include media-breakpoint-up(lg) {

    .c-category {
        margin-top: -75px;
        font-size: $font-size-base;
    }
    
    .c-category__link {
        height: 150px;

        svg {
            margin-bottom: 20px;
        }
    }

}

@include media-breakpoint-up(xl) {

    .c-category {
        font-size: $h5-font-size;
    }

}