.c-contacts {
    background-color: $white;
    overflow: hidden;

    &__title {
        font-size: $h5-font-size;
        margin-bottom: gutter('sm');
        text-transform: uppercase;
    }

    &__main, 
    &__aside {
        margin-bottom: $gutter;
    }

    &__main {
        .btn {
            width: 100%;
        }
    }


    &__store {
        &:not(:last-child) {
            margin-bottom: gutter('sm');
        }

        .location,
        .schedule {
            margin-bottom: 7px;
        }

        .phone {
            color: $body-color;
        }
    }
}

.c-map {
    position: relative;
    margin-bottom: offset('lg') * -1;
    padding-bottom: 40%;
    background-color: $gray-200;

    @include media-breakpoint-down(xs) {
        padding-bottom: 100%;
    }
}

.gm-style-iw {
    overflow: visible !important;

    *  {
        overflow: visible !important;
    }
}

.gm-style > div > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div > div:not(.gm-style-iw) {
    opacity: 0 !important;
}

.gm-iw {
    position: relative;
    width: 320px;
    padding: 30px;
    background-color: $white;
    box-shadow: 0 5px 15px rgba($black, .2);
    transform: translateX(12px);

    &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 100%;
        left: 50%;
        background-color: $white;
        transform: translateX(-50%) translateY(-60%) rotate(45deg);
    }

    @include media-breakpoint-up(md) {
        width: 380px;
    }

    .item {
        position: relative;
        padding-left: 30px;
        font-size: 16px;
        
        &:not(:last-child) {
            margin-bottom: 15px;
        }

        img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            margin-top: -1px;
        }
    }

    a {
        color: $body-color !important;
        text-decoration: none !important;
    }

    button {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        background: none;
        border: none;
        opacity: .3;
        font-size: 16px;
        transition: opacity $transition;

        &:hover {
            opacity: 1;
        }
    }
}


#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@include media-breakpoint-up(md) {
    
    .c-contacts {
        &__inner {
            display: flex;
            align-items: flex-start;
            margin: 0 gutter('sm') * -1;
        }
        
        &__main,
        &__aside {
            width: 50%;
            padding: 0 gutter('sm');
        }
    }
    
    .c-map {
        margin-bottom: -100px;
    }
    
}

@include media-breakpoint-up(lg) {

    .c-contacts {
        &__inner {
            margin: 70px $gutter * -1 0;
        } 

        &__main,
        &__aside {
            padding: 0 $gutter;
            margin-bottom: 100px;
        }

        &__title {
            margin-bottom: gutter('lg');
        }

        &__store {
            &:not(:last-child) {
                margin-bottom: $gutter;
            }

            .location,
            .schedule {
                margin-bottom: 10px;
            }
        }
    }

}

@include media-breakpoint-up(xl) {

    .c-contacts {
        &__main {
            flex-grow: 1;
        }

        &__aside {
            width: 40%;
        }

        &__center {
            max-width: 780px;
            margin-left: auto;
            margin-right: auto;

            .c-contacts__title {
                text-align: center;
            }
        }

        &__form {
            display: flex;
            margin: 0 gutter('sm') * -1;

            &-col {
                width: 50%;
                padding: 0 gutter('sm');

                &:nth-child(2) {
                    display: flex;

                    .form-group {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                    }

                    .form-control {
                        flex-grow: 1;
                    }
                }
            }
        }
    }

}

@include media-breakpoint-up(fd) {

    .c-contacts {
        &__main,
        &__aside {
            margin-bottom: 150px;
        }
    }

}