//# Grid
//
//*

body {
    display: flex;
    flex-direction: column;
    max-width: $layout-max-width;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

main {
    flex-grow: 1;
}

.o-box {
    @include make-container;
    max-width: $content-max-width;
}

.row--sm {
    margin-left: offset('sm') * -1;
    margin-right: offset('sm') * -1;

    [class*='col-'] {
        padding-left: offset('sm');
        padding-right: offset('sm');
    }
}

.row--xs {
    margin-left: offset('xs') * -1;
    margin-right: offset('xs') * -1;

    [class*='col-'] {
        padding-left: offset('xs');
        padding-right: offset('xs');
    }
}

.o-full {
    display: flex;

    > .container {
        display: flex;
    }
}

@include media-breakpoint-down(sm) {
    .is-sidebar {
        &, body {
            overflow: hidden;
        }
    }
}

@include media-breakpoint-down(md) {
    .is-filter {
        &, body {
            overflow: hidden;
        }
    }
}
