.c-item-row__link {
    display: flex;
    align-items: flex-start; 
    color: $black;
    font-size: $font-size-sm;
    @include link;

    &:hover {
        color: $primary;
    }
}

.c-item-row__img {
    position: relative;
    flex-shrink: 0;
    width: 100px;
    border: 2px solid $gray-200;
    margin-right: offset('sm');
}

.c-item-row__sale {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2rem;
    padding: 5px 7px;
}

.c-item-row__title {
    font-size: inherit;
    font-weight: $font-weight-bold;
}

.c-item-row__price {
    color: $black;
    line-height: $headings-line-height;

    .old {
        color: $gray-600;
        text-decoration: line-through;
        margin-left: 8px;
    }
}

@include media-breakpoint-up(md) {

    .c-item-row__link {
        align-items: center;
    }

    .c-item-row__img {
        width: 130px;
    }
}

@include media-breakpoint-up(xl) {

    .c-item-row__link {
        position: relative;
        display: flex;
        font-size: $font-size-base;
    }

    .c-item-row__img {
        width: 200px;
        margin-right: $offset;
    }

    .c-item-row__sale {
        top: offset('xs');
        right: offset('xs');
        font-size: 1.4rem;
    }

}