.c-item {
    position: relative;
    display: flex;
    width: 100%;

    .no-touchevents & {
        .remove {
            opacity: 0;
        }

        &:hover {
            .c-item__link {
                color: $black;
            }

            .c-item__buttons {
                opacity: 1;
                visibility: visible;
            }

            .c-item__img {
                opacity: .2;
            }

            .c-item__info {
                transform: translateY(-40px);
            }

            .remove {
                opacity: 1;
            }
        }
    }

    .remove {
        position: absolute;
        top: offset('xs');
        right: offset('xs');
        z-index: 1;
        background: none;
        border: none;
        padding: 5px;
        color: $gray-600;
        cursor: pointer;
        transition: $transition;

        svg {
            display: block;
            width: 16px;
            height: 16px;
            fill: currentColor;
        }

        &:hover {
            color: $primary;
        }
    }
}

.c-item__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: offset('sm');
    color: $black;
    @include link;

    .touchevents & {
        padding-bottom: offset('sm') + 40;
    }

    &:hover {
        color: $black;
    }
}

.c-item__status {
    position: absolute;
    top: offset('sm');
    left: offset('sm');
}

.c-item__sale {
    position: absolute;
    top: offset('sm');
    right: offset('sm');
}

.c-item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: offset('xs');

    .no-touchevents & {
        transition: opacity $transition;
    }
}

.c-item__info {
    .no-touchevents & {
        will-change: transform;
        transition: transform $transition;
    }

    .c-kit & {
        text-align: center;
    }
}

.c-item__title {
    margin: 0 0 offset('xs');
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-item__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: offset('xs');
    left: offset('xs');

    .c-kit & {
        right: offset('xs');
        justify-content: center;
    }

    .no-touchevents & {
        opacity: 0;
        visibility: hidden;
        transition: $transition;
    }

    .button {
        display: flex;
        align-items: center;
        color: $black;
        @include link;
        padding: 5px;
        margin-right: offset('xs');
        background: none;
        border: none;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        svg {
            fill: currentColor;
        }

        .title {
            margin-left: 8px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: $font-weight-bold;
        }

        &:hover {
            color: $primary;
        }

        &.is-active {
            color: $primary;
        }

        &.is-loading {
            animation: bounce 1s infinite both;
            transform-origin: center bottom;
        }
    }

    .button--cart {
        margin-right: gutter('sm');

        svg {
            height: 20px;
            width: 22px;
        }
    }

    .button--favourite {
        svg {
            height: 18px;
            width: 24px;
        }
    }

    .button--compare {
        svg {
            height: 18px;
            width: 28px;
        }
    }
}

.c-item__price {
    font-size: $font-size-sm;
    line-height: $headings-line-height;

    .old {
        color: $gray-600;
        text-decoration: line-through;
        margin-left: 8px;
    }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -35%, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15%, 0);
  }

  90% {
    transform: translate3d(0, -3%, 0);
  }
}

@include media-breakpoint-up(hd) {

    .c-item__link {
        top: $offset;
        left: $offset;
        padding: $offset;

        .touchevents & {
            padding-bottom: $offset + 40;
        }
    }

    .c-item__buttons {
        bottom: $offset - 5;
        left: $offset - 5;

        .c-kit & {
            right: $offset - 5;
        }
    }
}