.c-login {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: gutter('sm');
    padding-bottom: gutter('sm');
    font-size: $font-size-sm;

    &__form {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &__main {
        padding: gutter('sm');
        background-color: $white;

        @include media-breakpoint-up(lg) {
            padding: $gutter offset('lg') offset('lg');
        }

        .title {
            text-align: center;
            font-size: $h5-font-size;
            margin-bottom: gutter('sm');
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                margin-bottom: $offset;
            }
        }

        .right {
            font-size: 1.4rem;
            margin-top: 2px;
        }

        .remember-block {
            margin-top: -5px;

            @include media-breakpoint-up(xl) {
                margin-top: -15px;
            }
        }

        .btn {
            margin-top: 5px;
            width: 100%;
        }
    }

    &__footer {
        padding: gutter('sm');
        border-top: 2px solid $gray-200;
        text-align: center;
        background-color: $white;
    }

    &__social {
        text-align: center;
        padding-top: $offset;

        .title {
            color: $gray-600;
            font-size: $font-size-sm;
            margin-bottom: 10px;
        }

        .link {
            display: inline-block;
            padding: 10px;
            transition: opacity $transition;

            &:hover {
                opacity: .8;
            }
        }
    }

}

@include media-breakpoint-up(md) {

    .c-login {
        padding-top: $gutter;
        padding-bottom: $gutter;
    }

}

@include media-breakpoint-up(lg) {

    .c-login {
        padding-top: offset('lg');
        padding-bottom: offset('lg');
        background: url(../../src/img/bg.png) no-repeat left center;
        background-size: 40% auto;
    }

}


@include media-breakpoint-up(hd) {

    .c-login {
        padding-top: 100px;
        padding-bottom: 100px;

        &__social {
            padding-top: offset('lg');
        }
    }

}
