//# Mixins
//
//*
@mixin link() {
    &:hover {
        text-decoration: none;
    }
}

@mixin headings() {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .o-heading__title {
        margin-bottom: 0;
    }
}