.c-nav {
    font-size: $font-size-sm;
}

.c-nav__link {
    color: $white;

    &:hover, .is-active > & {
        color: $white;
        background-color: lighten($gray-900, 5);
    }
}

.c-nav__link,
.c-subnav__group-title {
    display: block;
    padding: offset('sm') gutter('sm');
    font-weight: $font-weight-bold;
    @include link;
}

.c-nav__link--expand,
.c-subnav__group-title {
    position: relative;
    padding-right: $gutter + 5;

    &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        right: gutter('sm');
        margin-top: -6px;
        border-right: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
        transform: rotate(45deg);
        transition: transform $transition;
        will-change: transform;
    }
}

.c-subnav {
    background-color: $white;
}

.c-subnav__group-title {
    color: $black;
    text-transform: uppercase;
}

.c-subnav__list {
    padding: offset('xs') 0;
}

.c-subnav__link {
    display: block;
    padding: 5px gutter('sm');
    color: $black;
    opacity: .8;
    @include link;
}

.c-subnav__all {
    display: block;
    padding: offset('sm');
    border-top: 1px solid $gray-200;
    font-weight: $font-weight-bold;
    text-align: center;
    text-transform: uppercase;
    @include link;

    &:hover {
        background-color: $gray-100;
    }
}

.c-nav-toggle {
    display: none;
}

@include media-breakpoint-down(sm) {

    .c-subnav__group {
        & + & {
            border-top: 1px solid $gray-200;
        }
    }

    .c-subnav__list--group {
        padding-top: 0;
    }

    .c-nav__link--expand,
    .c-subnav__group-title {
        &.is-open {
            &:after {
                transform: translateY(2px) rotate(-135deg);
            }
        }
    }
}

@include media-breakpoint-between(md, xl) {

    .c-nav-toggle {
        display: flex;
        align-items: center;
        width: 200px;
        height: $nav;
        line-height: $nav;
        padding: 0 gutter('sm');
        color: $white;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        @include link;

        &:hover, &.is-active {
            color: $white;
            background-color: lighten($gray-900, 5);
        }

        span {
            position: relative;
            width: 14px;
            height: 2px;
            margin-left: offset('xs');
            background-color: currentColor;

            &:before, &:after {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                background-color: currentColor;
            }

            &:before {
                top: -200%;
            }

            &:after {
                top: 200%;
            }
        }
    }

    .c-nav {
        width: 200px;
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        background-color: $gray-900;

        .is-active & {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    // .c-nav__item,
    // .c-subnav__group {
    //     position: relative;
    // }

    .c-subnav {
        position: absolute;
        top: 0;
        left: 100%;
        width: $sidebar;
        transform: translateX(-10px);

        .is-active > & {
            transform: translateX(0);
        }
    }

    .c-subnav__group {
        .collapse {
            width: $sidebar;
            position: absolute;
            top: -1px;
            left: 100%;
            transform: translateX(-10px);
            border: 1px solid $gray-200;
            background-color: $white;
            opacity: 0;
            visibility: hidden;
            transition: $transition;
        }

        &.is-active {
            .collapse {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }

        }
    }

    .c-nav__link--expand,
    .c-subnav__group-title {
        &:after {
            margin-top: -4px;
            transform: rotate(-45deg);
        }

        .is-active > & {
            &:after {
                transform: translateX(3px) rotate(135deg);
            }
        }
    }

    .c-subnav__group-title {
        .is-active > & {
            color: $primary;
        }
    }
}

@include media-breakpoint-up(md) {

    .c-nav {
        .collapse {
            display: block;
        }
    }

    .c-nav__link {
        position: relative;
        background-color: $gray-900;
        z-index: 1;
    }

    .c-subnav {
        border: 1px solid $gray-200;
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        .is-active > & {
            opacity: 1;
            visibility: visible;
        }
    }

    .c-subnav__list {
        padding: gutter('sm');
    }

    .c-subnav__link {
        display: inline-block;
        padding: 0;
        margin-bottom: 12px;
    }

    .c-subnav__item {
        &:last-child {
            .c-subnav__link {
                margin-bottom: 0;
            }
        }
    }

}

@include media-breakpoint-up(hd) {
    
    .c-nav__list {
        display: flex;
    }

    .c-nav__item {
        position: relative;
        border-left: 2px solid rgba($white, .2);

        &:last-child {
            border-right: 2px solid rgba($white, .2);
        }
    }

    .c-nav__link {
        padding: 0 25px;
        height: $nav;
        line-height: $nav;
    }

    .c-nav__link--expand {
        padding-right: 41px;

        &:after {
            right: 25px;
        }

        .is-active > & {
            &:after {
                transform: translateY(4px) rotate(-135deg);
            }
        }
    }

    .c-subnav {
        position: absolute;
        top: 100%;
        left: -1px;
        width: $sidebar + 30;
        transform: translateY(10px);

        .is-active > & {
            transform: translateY(0);
        }
    }

    .c-subnav--1 {
        width: $sidebar + 30px;

        .c-subnav__group {
            width: 100%;
        }
    }

    .c-subnav--2 {
        width: ($sidebar + 30px) * 2;

        .c-subnav__group {
            width: 50%;
        }
    }

    .c-subnav--3 {
        width: ($sidebar + 30px) * 3;

        .c-subnav__group {
            width: 33.3334%;
        }
    }

    .c-subnav__inner {
        display: flex;
        padding: $gutter 0;
    }

    .c-subnav__group {
        padding-left: $gutter;
        padding-right: $gutter;

        &:not(:last-child) {
            border-right: 1px solid $gray-200;
        }
    }

    .c-subnav__group-title {
        padding: 0;
        margin-bottom: $offset;
        font-size: $font-size-base;
        pointer-events: none;

        &:after {
            display: none;
        }
    }

    .c-subnav__list {
        padding: $gutter;
    }

    .c-subnav__list--group {
        padding: 0;
    }

    .c-subnav__all {
        padding-top: 0;
        padding-bottom: 0;
        height: $nav;
        line-height: $nav;
    }

}

@include media-breakpoint-up(fd) {

    .c-nav__link {
        padding: 0 30px;
    }

    .c-nav__link--expand {
        padding-right: 46px;
    }

}