.c-range__input {
    display: flex;
    align-items: center;
    max-width: 220px;
    margin-top: 35px;

    .divider {
        display: block;
        width: 10px;
        height: 1px;
        background-color: $gray-600;
        margin: 0 15px;
        flex-shrink: 0;
    }

    .form-control {
        flex-grow: 1;
    }
}