$gutters: (
    0:  0,
    xs: $g-xs,
    sm: $g-sm,
    md: $g-md,
    lg: $g-lg
);

.u-m {
    margin: $g;
}

.u-mt {
    margin-top: $g;
}

.u-mb {
    margin-bottom: $g;
}

.u-ml {
    margin-left: $g;
}

.u-mr {
    margin-right: $g;
}

.u-p {
    padding: $g;
}

.u-pt {
    padding-top: $g;
}

.u-pb {
    padding-bottom: $g;
}

.u-pl {
    padding-left: $g;
}

.u-pr {
    padding-right: $g;
}

@each $title, $value in $gutters {
    .u-m-#{$title} {
        margin: $value;
    }

    .u-mt-#{$title} {
        margin-top: $value;
    }

    .u-mb-#{$title} {
        margin-bottom: $value;
    }

    .u-ml-#{$title} {
        margin-left: $value;
    }

    .u-mr-#{$title} {
        margin-right: $value;
    }

    .u-p-#{$title} {
        margin: $value;
    }

    .u-pt-#{$title} {
        margin-top: $value;
    }

    .u-pb-#{$title} {
        margin-bottom: $value;
    }

    .u-pl-#{$title} {
        margin-left: $value;
    }

    .u-pr-#{$title} {
        margin-right: $value;
    }
}