// Grid
//
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  hd: 1440px,
  fd: 1680px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  hd: 1380px,
  fd: 1620px
);

$layout-min-width:      320px;
$layout-max-width:      1920px;

$content-max-width:     container(xl);

$grid-gutter-width:     40px;

$gutter: $grid-gutter-width;
$gutters: () !default;
$gutters: map-merge((
  xs:   round($gutter / 3),
  xs-2: round($gutter * 2 / 3),
  sm:   round($gutter / 2),
  md:   round($gutter * 3 / 2),
  lg:   round($gutter * 2),
), $gutters);

$offset: 30px;
$offsets: () !default;
$offsets: map-merge((
  xs:   round($offset / 3),
  xs-2: round($offset * 2 / 3),
  sm:   round($offset / 2),
  md:   round($offset * 3 / 2),
  lg:   round($offset * 2),
), $offsets);

$transition:            .3s;

$modal-backdrop-opacity:   .6;

// Typography
//
//
$font-family-base: 'Fira Sans Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

$white:    #fff;
$black:    #000;
$gray-200:  #E6E6E6;
$gray-400:  #ccc;
$gray-600:  #999;
$gray-900:  #302533;

$primary:   #FE060E;
$secondary:   $gray-900;
$red:       #D90B12;
$yellow:    #FEB011;
$green:     #30C650;

$body-bg:   #f2f2f2;

$font-size-base:              1.8rem;
$font-size-lg:                2.2rem;
$font-size-sm:                1.6rem;

$font-weight-bold:            500;

$h1-font-size:                5rem;
$h2-font-size:                4.4rem;
$h3-font-size:                3.6rem;
$h4-font-size:                3rem;
$h5-font-size:                2.4rem;
$h6-font-size:                1.8rem;

$link-hover-color:            $primary;


$border-radius:               3px;

$table-cell-padding:          15px;

$form-group-margin-bottom:    1.5rem;

// Badge

$badge-font-size:                   $font-size-sm;
$badge-padding-y:                   8px;
$badge-padding-x:                   offset('sm');

// Pagination

$pagination-padding-y:              .5rem;
$pagination-padding-x:              1rem;
$pagination-padding-y-sm:           .25rem;
$pagination-padding-x-sm:           .5rem;
$pagination-padding-y-lg:           .75rem;
$pagination-padding-x-lg:           1.5rem;
$pagination-line-height:            1;

$pagination-color:                  $black;
$pagination-bg:                     $white;
$pagination-border-width:           0;
$pagination-border-color:           transparent;

$pagination-focus-box-shadow:       none;

$pagination-hover-color:            $primary;
$pagination-hover-bg:               $white;
$pagination-hover-border-color:     transparent;

$pagination-active-color:           $primary;
$pagination-active-bg:              $white;
$pagination-active-border-color:    transparent;

$pagination-disabled-color:         #ccc;
$pagination-disabled-bg:            $white;
$pagination-disabled-border-color:  transparent;

// Breadcrumbs

$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           0;

$breadcrumb-margin-bottom:          0;

$breadcrumb-bg:                     none;
$breadcrumb-divider-color:          $gray-600;
$breadcrumb-active-color:           $black;
$breadcrumb-divider:                ">";

// Forms

$input-padding-y:                       1.3rem;
$input-padding-x:                       2rem;

$input-padding-y-sm:                    .6rem;
$input-padding-x-sm:                    1.5rem;

$input-disabled-bg:                     $gray-400;

$input-color:                           $black;
$input-border-color:                    $gray-400;
$input-border-width:                    2px;
$input-box-shadow:                      none;

$input-border-radius-sm:                2px;

$input-focus-border-color:              $gray-600;
$input-focus-box-shadow:                none;

$form-text-margin-top:                  .5rem;

// Buttons

$btn-padding-y:               17px;
$btn-padding-x:               40px;
$btn-line-height:             1;
$btn-border-width:            $input-border-width;
$btn-disabled-opacity:        .7;

// Alerts

$alert-padding-y:                   2rem;
$alert-padding-x:                   2rem;
$alert-margin-bottom:               0;

$alert-bg-level:                    -11;
$alert-border-level:                -11;


// Modal 

$modal-inner-padding:         2rem;

$modal-dialog-margin:         2rem;
$modal-dialog-margin-y-sm-up: 2rem;
$modal-content-border-color:     $white;

$modal-header-border-color:   $white;
$modal-footer-border-color:   $white;
$modal-header-padding:        2rem;

$modal-lg:                          920px;

// Application variables
//
//

$header:          120px;
$nav:             70px;
$sidebar:         250px;