$layout-min-width:      320px;
$layout-max-width:      1920px;


$g:                $grid-gutter-width;
$g-xs:             floor($g / 3);
$g-sm:             $g / 2;
$g-md:             $g-sm * 3;
$g-lg:             $g * 2;


$o:                40px;
$o-xs:             $o / 8;
$o-sm:             $o / 2;
$o-md:             $o-sm * 3;
$o-lg:             $o * 2;


$transition:            .3s;