{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 2 versions"]
                }
            }
        ],
        "stage-0"
    ],
    "plugins": [
        "syntax-dynamic-import",
        [
            "babel-plugin-webpack-alias",
            {
                "config": "./webpack.config.base.js"
            }
        ]
    ]
}
