{
    "parser": "vue-eslint-parser",
    "extends": [
        "crockford",
        "plugin:vue/base",
        "plugin:vue/essential",
        "plugin:vue/recommended"
    ],
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "rules": {
        "no-plusplus": 0,
        "no-underscore-dangle": 0,
        "one-var": [
            0
        ],
        "no-continue": [
            0
        ],
        "no-constant-condition": [
            0
        ],
        "array-bracket-spacing": [0],
        "indent": 0,
        "vue/html-indent": [
            "error",
            4
        ],
        "vue/max-attributes-per-line": [
            2,
            {
                "multiline" : {
                    "allowFirstLine": false
                }
            }
        ],
        "vue/html-closing-bracket-newline": [
            2,
            {
                "multiline": "always"
            }
        ]
    },
    "globals": {
        "$": false,
        "require": false,
        "__dirname": true,
        "process": true,
        "exports": true,
        "module": false
    },
    "plugins": [
        "vue"
    ]
}
