.c-order-promo {
    margin-top: 10px;

    &__title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;

        @include breakpoint(lg) {
            font-size: 22px;
        }

        @include breakpoint(xl) {
            font-size: 24px;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -10px;
    }

    &__form {
        max-width: 335px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    &__results {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;

        &-card {
            margin: 5px 16px 5px 0;
            background-color: $black;
            color: $white;
            font-weight: 700;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 0 7px;
            border-radius: 10px;

            .i-icon {
                width: 20px;
                height: 20px;
                margin-left: 6px;
                filter: invert(1);
            }
        }

        &-text {
            // width: 100%;
            font-weight: 700;
            font-size: 16px;
            // margin-top: 5px;
        }
    }
}
