.c-news-carousel {
    color: $white;
    background-color: $black;
    padding: 20px 0 40px;
    margin-top: 80px;
    margin-bottom: 40px;

    @include breakpoint(md) {
        padding: 32px 0;
    }

    .swiper-button-prev,
    .swiper-button-next {

        .i-icon {
            filter: invert(1);
        }
    }
}
