$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    hd: 1340px,
    laptop: 1440px,
    desktop: 1660px,
    fullhd: 1800px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    hd: 1260px,
    laptop: 1380px,
    desktop: 1620px,
    fullhd: 1740px
);

$layout-min-width:                                  320px;
$layout-max-width:                                  1920px;
$grid-gutter-width:                                 40px;

$g:                                                 $grid-gutter-width;
$g-sm:                                              $grid-gutter-width / 2;
$g-5:                                               5px;
$g-10:                                              10px;
$g-15:                                              15px;
$g-20:                                              20px;
$g-30:                                              30px;
$g-40:                                              40px;
$g-50:                                              50px;
$g-60:                                              60px;
$g-70:                                              70px;
$g-80:                                              80px;

$spacers: (
    0: 0,
    1: $g-5,
    2: $g-10,
    3: $g-15,
    4: $g-20,
    5: $g-30,
    6: $g-40,
    7: $g-50,
    8: $g-60,
    9: $g-70,
    10: $g-80
);

$transition:                                        .3s;
