<div class="c-accordion js-accordion">
    {% for text in [
        'Чи можу я зберегти обрані товари, щоб замовити їх пізніше?',
        'Чи можу я приміряти товар?',
        'Що робити, якщо товар мені не підійшов?',
        'Як часто на сайті з`являються нові товари?',
        'Чи можу я забрати замовлення самостійно в магазині?',
    ] %}
        <div class="c-accordion__item js-accordion-item">
            <div class="c-accordion__heading">
                <h3 class="c-accordion__title">{{ text }}</h3>

                <button type="button" aria-label="Открыть ответ" class="c-accordion__btn js-accordion-toggle">
                    <span class="c-accordion__btn-icon"></span>
                </button>
            </div>

            <div class="c-accordion__collapse js-accordion-collapse">
                <div class="c-accordion__collapse-inner">
                    <p>{{ text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
