.c-accordion {

    &__item {
        font-size: 18px;
        scroll-margin: var(--header-height);

        &:not(:last-child) {
            border-bottom: 1px solid $gray-6;
        }
    }

    &__title {
        font-weight: 700;
        margin: 0;
        line-height: 1.2;
        font-size: 18px;

        @include breakpoint(lg) {
            font-size: 22px;
        }
    }

    &__heading {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 80px;
        justify-content: space-between;
        padding: 13px 0;

        @include breakpoint(lg) {
            padding: 15px 0;
        }
    }

    &__btn {
        flex-shrink: 0;
        margin-left: 10px;

        &:hover {
            opacity: .75;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        .i-angle-down {
            display: block;
            transition: transform $transition;
        }

        .c-accordion__item.is-open & {

            .i-angle-down {
                transform: rotate(180deg);
            }
        }

        &-icon {
            display: block;
            position: relative;
            width: 24px;
            height: 24px;

            &:before,
            &:after {
                content: '';
                display: block;
                width: 100%;
                position: absolute;
                background-color: currentColor;
                height: 4px;
                top: calc(50% - 2px);
                left: 0;
                transform-origin: center;
            }

            &:after {
                transform: rotate(90deg);
                transition: transform $transition;
            }

            .c-accordion__item.is-open & {

                &::after {
                    transform: none;
                }
            }

            .c-accordion__btn--sm & {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__collapse {
        will-change: height;
        opacity: 0;
        display: none;

        &-inner {
            padding-left: 16px;
            padding-bottom: 14px;
        }

        p {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
