.c-breadcrumbs {
    @include scroll-shadow;
    position: relative;
    display: flex;
    line-height: 24px;
    margin-bottom: 60px;

    &__scroll {
        @include scroll;
    }

    &__list {
        white-space: nowrap;
        flex-grow: 1;
        padding: 8px 0;
        display: flex;
    }

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {

            .i-icon {
                width: 12px;
                height: 12px;
                margin: 0 8px -1px;
            }
        }

        &:last-child {
            color: $gray;
        }
    }
}
