//## Swiper vendor
@import '~swiper/swiper.scss';
@import '~swiper/modules/navigation/navigation.scss';
@import '~swiper/modules/pagination/pagination.scss';


.c-carousel {

    .swiper {
        width: 100%;

        &-slide {
            display: flex;
            height: auto;
        }

        &-button-prev,
        &-button-next {
            line-height: 0;
            width: 46px;
            height: 46px;
            color: currentColor;
            border-radius: 4px;
            display: none;

            .i-icon {
                width: 26px;
                height: 26px;
            }

            &:after {
                content: none;
            }

            &:hover {
                background-color: rgba($white, .1);
            }
        }

        &-button-prev {
            left: 20px;
        }

        &-button-next {
            right: 20px;
        }

        &-pagination {
            position: static;
            margin-top: 10px;
            flex-shrink: 0;

            --swiper-pagination-color: #{$black};
            --swiper-pagination-bullet-inactive-color: #{shade(3)};
            --swiper-pagination-bullet-inactive-opacity: 1;
            --swiper-pagination-bullet-horizontal-gap: 5px;
            --swiper-pagination-bullet-width: 6px;
            --swiper-pagination-bullet-height: 6px;

            &-bullets {
                line-height: 0;
            }

            &-fraction {
                font-size: 12px;
                width: auto;
            }
        }

        &-initialized {

            .swiper-button-prev,
            .swiper-button-next {

                @include breakpoint(md) {
                    display: flex;
                }
            }
        }
    }

    &-inner {

        @include breakpoint(md) {
            overflow: hidden;
        }
    }

    &-title {
        margin-bottom: 16px;
    }

    &--list {
        overflow: hidden;

        .swiper {
            overflow: visible;

            &-button-prev,
            &-button-next {
                margin: 0;
                top: -56px;
                right: 0;
                left: initial;

                &:hover {
                    opacity: .75;
                    background: none;
                }

                &::after {
                    display: none;
                }

                .i-icon {
                    width: 26px;
                    height: 26px;
                }

                &.swiper-button-disabled {
                    opacity: .2;
                }
            }

            &-button-prev {
                right: 46px;
            }
        }

        .swiper:not(.swiper-initialized) {

            .swiper-slide {
                margin-right: 20px;
            }
        }
    }

    &--4 {

        .swiper {

            &-slide {
                width: 90%;

                @include breakpoint(sm) {
                    width: calc(50% - 20px * 1 / 2);
                }

                @include breakpoint(lg) {
                    width: calc(33.333% - 20px * 2 / 3);
                }

                @include breakpoint(xl) {
                    width: calc(25% - 20px * 3 / 4);
                }
            }
        }
    }

    &--3 {

        .swiper {

            &-slide {
                width: 90%;

                @include breakpoint(md) {
                    width: calc(50% - 20px * 1 / 2);
                }

                @include breakpoint(xl) {
                    width: calc(33.333% - 20px * 2 / 3);
                }
            }
        }
    }

    &--2 {

        .swiper {

            &-slide {
                width: 90%;

                @include breakpoint(md) {
                    width: calc(50% - 20px * 1 / 2);
                }
            }
        }
    }
}
