.c-contacts {

    &__item {
        line-height: 1.5;

        @include breakpoint(lg) {
            font-size: 20px;
        }

        @include breakpoint(xl) {
            font-size: 22px;
        }
    }

    &__map {
        margin: 40px 0;
    }

    &__feedback {
        max-width: 690px;
        margin-left: auto;
        margin-right: auto;
    }
}
