.c-error {

    .l-box {
        margin: auto;
        position: relative;
    }

    &__inner {
        padding: 100px 0 200px;
        width: 100%;
        margin: auto;
        position: relative;
        overflow: hidden;
    }

    &__code {
        color: $gray-6;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 100px;
        padding-top: 40px;

        @include breakpoint(sm) {
            font-size: 200px;
            padding-top: 0;
        }

        @include breakpoint(md) {
            font-size: 300px;
        }

        @include breakpoint(lg) {
            font-size: 400px;
        }

        @include breakpoint(xl) {
            font-size: 500px;
        }

        @include breakpoint(2xl) {
            font-size: 540px;
        }

        @include breakpoint(3xl) {
            font-size: 590px;
        }
    }

    &__logo {
        margin-bottom: 44px;

        @include breakpoint(md) {
            margin-bottom: 64px;
        }

        img {
            width: 200px;
            height: auto;
        }
    }

    &__title {
        margin-bottom: 20px;
        max-width: 680px;
    }

    &__text {
        margin-bottom: 20px;
        max-width: 540px;
    }
}
