.c-order {

    @include breakpoint(lg) {
        display: grid;
        grid-template-columns: 2fr minmax(440px, 1fr);
    }

    &-side {

        @include breakpoint(lg) {
        padding-left: 20px;
        }

        &__inner {
            padding-top: 20px;
            position: sticky;
            top: var(--header-height);
        }
    }

    &-section {
        margin-top: 40px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        &.is-disabled {
            opacity: .2;
        }

        &__title {
            margin-bottom: 12px;
        }

        &__heading {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .f-btn {
                margin-left: auto;
            }

            .c-title {
                margin-bottom: 0;
            }
        }
    }

    &-alert {
        border: 1px solid rgba($black, .2);
        font-weight: 700;
        display: flex;
        align-items: center;
        padding: 20px;
        min-height: 80px;
        border-radius: 10px;
    }

    &-form {
        max-width: 690px;
    }
}

@import './order/cart.scss';
@import './order/receipt.scss';
@import './order/promo.scss';
@import './order/address.scss';
