.c-rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-stars {
        display: flex;
        margin-right: 14px;

        .i-icon {
            width: 20px;
            height: 20px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    &-value {
        font-weight: 700;
        margin-right: 12px;
    }
}
