.c-selection {
    @include scroll-shadow;
    position: relative;
    display: flex;

    &__scroll {
        @include scroll;
    }

    &__list {
        display: flex;
        margin: -5px;
    }

    &__item {
        padding: 5px;
    }

    &__card {
        white-space: nowrap;
        background-color: $gray-6;
        border: 1px solid $gray-5;
        border-radius: 99px;
        display: flex;
        padding-left: 13px;
        font-size: 16px;
        line-height: 26px;
        overflow: hidden;

        &-delete {
            margin-left: 8px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $gray-5;
            }

            .i-icon {
                width: 8px;
                height: 8px;
            }
        }
    }
}
