.c-sorting {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -5px -7px;
    }

    &__item {
        padding: 0 7px;
    }

    &__link {
        display: block;
        text-transform: lowercase;
        padding: 5px 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 4px;
            border-bottom: 1px dotted rgba($black, .4);
        }

        .is-active & {
            font-weight: 700;
            pointer-events: none;
        }
    }
}
