.c-subscribe {
    background-color: $black;
    color: $white;
    margin-top: 80px;
    padding: 32px 0 40px;

    @include breakpoint(md) {
        padding: 54px 0;
    }

    .c-news-carousel + &{
        margin-top: -20px;
    }

    .c-subscribe + & {
        margin-top: 20px;
    }

    &__inner {
        text-align: center;

        @include breakpoint(md) {
            display: flex;
            align-items: center;
            text-align: left;
        }
    }

    &__title {
        line-height: 1;
        margin-bottom: 20px;

        @include breakpoint(md) {
            padding-right: 10px;
            margin-bottom: 0;
        }
    }

    &__btn {
        display: flex;
        flex-shrink: 0;

        @include breakpoint(md) {
            width: 216px;
        }

        @include breakpoint(lg) {
            width: 290px;
        }

        @include breakpoint(xl) {
            width: 335px;
        }

        .f-btn {
            height: auto;
            border-color: rgba($white, .4);
            padding: 12px;
            line-height: 1.8;

            @include breakpoint(md) {
                font-size: 20px;
            }

            @include breakpoint(lg) {
                font-size: 24px;
            }

            @include breakpoint(xl) {
                font-size: 30px;
            }
        }
    }
}
