<div class="c-product-section">
    <h2 class="c-product-section__title c-title c-title--3">Про бренд <span class="text-gray">ЕйрБос</span></h2>

    <div class="c-expand js-expand">
        <div class="c-expand__collapse js-expand-collapse">
            <p>История бренда AirBoss Company начинается еще с 2010 года. Основатели идеи создать одежду, которую можно будет передавать из поколения в поколение, благодаря ее износостойкости и решили пойти непростым путем. Они не стали в первый год шить продукцию для массового маркета и экспериментировать на своих клиентах. На протяжении пяти лет они занимались анализом и исследованием технологий военной одежды, которая, пройдя самые разные испытания на прочность, оставалась целой и не теряла своей функциональности.</p>

            <h3>Ціни на куртки AirBoss</h3>
            <table>
                <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Ціна</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Airboss Majestic-12</td>
                        <td><b>6020₴</b></td>
                    </tr>
                    <tr>
                        <td>Парка Airboss Winter Parka Thinsulate</td>
                        <td><b>6720₴</b></td>
                    </tr>
                    <tr>
                        <td>Парка Airboss Shuttle</td>
                        <td><b>4540₴</b></td>
                    </tr>
                    <tr>
                        <td>Парка Airboss N-7b Shuttle Challenger</td>
                        <td><b>7075₴</b></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button type="button" class="c-expand__toggle js-expand-toggle f-btn f-btn--outline-dark f-btn--rounded">
            <i class="c-expand__toggle-icon"></i>
            <span class="c-expand__toggle-show">Розгорнути</span>
            <span class="c-expand__toggle-hide">Згорнути</span>
        </button>
    </div>
</div>
