<div class="c-product-section">
    <h2 class="c-product-section__title c-title c-title--3">Характеристики <span class="text-gray">Парка Airboss Winter Parka Thinsulate</span></h2>

    <dl class="c-product-characteristics">
        {% for item in [
            {
                title: 'Сезон',
                description: 'зима 20/21'
            },
            {
                title: 'Матеріал наповнювача',
                description: 'Thinsulate'
            },
            {
                title: 'Колір',
                description: '<a href="#">чорный</a>'
            },
            {
                title: 'Особливості моделі',
                description: 'з капюшоном'
            },
            {
                title: 'Температурний режим',
                description: 'для екстремальних холодів'
            },
            {
                title: 'Стиль',
                description: 'повсякденний (casual)'
            },
            {
                title: 'Розмір',
                description: '<a href="#">2XL</a>'
            },
            {
                title: 'Матеріал верху',
                description: 'нейлон'
            },
            {
                title: 'Довжина',
                description: 'середньої довжини'
            },
            {
                title: 'Матеріал підкладки',
                description: 'поліестер'
            },
            {
                title: 'Принт',
                description: 'без прінта'
            },
            {
                title: 'Температурний діапазон',
                description: 'від 0°C до −40°C'
            },
        ] %}
            <div class="c-product-characteristics__item">
                <dt>{{ item.title }}</dt>
                <dd class="characteristics-full__value">{{ item.description }}</dd>
            </div>
        {% endfor %}
    </dl>

    <div class="c-more">
        <a href="#" class="f-btn f-btn--outline-dark f-btn--rounded">Показати усе</a>
    </div>
</div>
