<div class="c-product-section">
    <h2 class="c-product-section__title c-title c-title--3">Опис <span class="text-gray">Парка Airboss Winter Parka Thinsulate</span></h2>

    <div class="c-expand js-expand">
        <div class="c-expand__collapse js-expand-collapse">
            <p>Классическая куртка — парка <b>Winter Parka</b> от <b>Airboss.Company</b> унаследовала все элементы и крой стандартной Аляски, но, вместе с тем, получила современные технологии утеплителя и верхнего нейлона. В данной модели в качестве наполнителя использована технология <b>Airboss Insulation Technology</b>, плотность <b>250 грамм</b>. Благодаря этому, куртка <b>Winter Parka</b> рассчитана на экстремальные погодные условия и спокойно выдержит холода до <b>-40 градусов Цельсия</b>.</p>
            <p>Верхний материал куртки — высококачественный нейлон, пропитанный тефлоном от мирового производителя Dupont, что предотвращает промокание куртки и помогает легко устранять с нее загрязнения. Опушка капюшона выполнена из искусственного меха, который можно отстегнуть, глубина капюшона регулируется. Внутри рукавов куртки Winter Parka имеются манжеты, которые предотвращают задувание ветра. По поясу и на капюшоне есть утяжки с фиксаторами.</p>
            <p>Подкладка куртки прошита по всей длине. Наружные швы выполнены по специальной технологии, которая делает их особо устойчивыми к разрывам. Снаружи куртки имеются 4 кармана впереди и один аутентичный карман лётчика на рукаве. Внутри куртки есть один карман на молнии. В комплекте в курткой идет оригинальный брелок и съемный патч Airboss.Company.</p>
            <p>Вся продукция Airboss.Company проходит тщательный контроль качества, поэтому вы всегда можете быть уверены, что приобретаете изделие, которое прослужит вам много лет и оставит только положительные впечатления.</p>
            <p>Фурнитура куртки брендирована, остерегайтесь подделки!</p>
        </div>

        <button type="button" class="c-expand__toggle js-expand-toggle f-btn f-btn--outline-dark f-btn--rounded">
            <i class="c-expand__toggle-icon"></i>
            <span class="c-expand__toggle-show">Розгорнути</span>
            <span class="c-expand__toggle-hide">Згорнути</span>
        </button>
    </div>
</div>
