<div class="c-product-section c-reviews c-carousel c-carousel--list js-carousel" data-space-between="20">
    <div class="c-carousel-inner">
        {% include "../../reviews/heading.twig" %}

        <div class="mb-5">
            <div class="c-rating">
                <div class="c-rating-value">4</div>
                <div class="c-rating-stars">
                    <i class="i-icon i-star"></i>
                    <i class="i-icon i-star"></i>
                    <i class="i-icon i-star"></i>
                    <i class="i-icon i-star"></i>
                    <i class="i-icon i-star-outline"></i>
                </div>
                <div class="c-rating-reviews">на основі 3 відгуків</div>
            </div>
        </div>

        <div class="swiper">
            <div class="swiper-wrapper">
                {% for i in 1..6 %}
                    <div class="swiper-slide">
                        {% include "../../reviews/item.twig" %}
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-control">
                <button class="swiper-button-prev">
                    <span class="sr-only">Попередній слайд</span>
                    <i class="i-icon i-arrow i-icon--left"></i>
                </button>

                <button class="swiper-button-next">
                    <span class="sr-only">наступний слайд</span>
                    <i class="i-icon i-arrow i-icon--right"></i>
                </button>
            </div>
        </div>

        <div class="c-more">
            <a href="reviews.html" class="f-btn f-btn--outline-dark f-btn--rounded">Показати всі</a>
        </div>

        <div class="grid items-center gap-5 p-5 text-center border">
            <div>
                <p>Станьте першим, хто відгукнувся про цей товар</p>
            </div>
            <div>
                <button class="f-btn f-btn--outline-dark">Написати відгук</button>
            </div>
        </div>

        <div class="grid items-center gap-5 p-5 text-center border">
            <div>
                <p>Щоб залишити відгук до цього товару, необхідно увійти</p>
            </div>
            <div>
                <button class="f-btn f-btn--outline-dark">Увійти</button>
            </div>
        </div>
    </div>
</div>
