.c-card {
    position: relative;
    text-align: center;
    line-height: 1.4;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    @include breakpoint(sm) {
        font-size: 16px;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        z-index: -1;
        opacity: 0;
        background-color: rgba($black, .03);
        transition: opacity $transition;
        will-change: opacity;
    }

    &:hover {

        &:before {
            opacity: 1;
        }
    }

    &.is-deleted {
        opacity: .2;
    }

    &--special {
        text-align: left;
        color: $white;

        @include breakpoint(sm) {
            font-size: 18px;
        }

        &:before {
            z-index: 1;
        }
    }

    &__img {
        @include cover;

        &::before {
            padding-bottom: 100%;
        }

        img {
            object-fit: contain;
        }

        .c-card--special & {
            flex-grow: 1;

            &:before {
                padding-bottom: calc(500/335 * 100%);
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                inset: 0;
                top: 50%;
                opacity: .8;
                background-image: linear-gradient(to top, rgba($black, 1), rgba($black, 0));
            }

            img {
                object-fit: cover;
            }
        }
    }

    &__info {
        padding: 0 10px 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @include breakpoint(lg) {
            padding: 0 20px 20px;
        }

        .c-card--special & {
            position: absolute;
            z-index: 1;
            inset: 0;

            @include breakpoint(2xl) {
                padding-bottom: 40px;
            }
        }
    }

    &__badge {
        position: absolute;
        z-index: 1;
        left: 10px;
        top: 10px;

        @include breakpoint(lg) {
            left: 20px;
            top: 20px;
        }

        &-item {
            color: $black;
            position: relative;
            background-image: url(../img/badge-outline.png);
            background-size: 100% 100%;
            font-size: 8px;
            font-weight: 700;
            text-transform: uppercase;
            height: 20px;
            line-height: 1;
            min-width: 65px;
            padding: 0 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint(lg) {
                height: 30px;
                font-size: 12px;
                padding: 0 16px;
                min-width: 106px;
            }
        }
    }

    &__discount {
        width: 36px;
        height: 36px;
        color: $black;
        background-color: $white;
        border: 1px solid $black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        font-weight: 700;

        @include breakpoint(lg) {
            width: 48px;
            height: 48px;
            font-size: 12px;
        }
    }

    &__title {
        font-weight: 700;

        .c-card--special & {
            font-weight: initial;
        }
    }

    &__price {
        margin-top: 16px;
        margin-bottom: auto;

        .c-card--special & {
            margin-bottom: 0;
            margin-top: auto;
        }

        &-current {
            font-weight: 700;
            line-height: 1.1;

            @include breakpoint(sm) {
                font-size: 20px;
            }

            @include breakpoint(md) {
                font-size: 22px;
            }

            @include breakpoint(lg) {
                font-size: 24px;
            }

            .c-card--special & {
                font-size: 20px;

                @include breakpoint(sm) {
                    font-size: 24px;
                }

                @include breakpoint(md) {
                    font-size: 36px;
                }

                @include breakpoint(lg) {
                    font-size: 40px;
                }

                @include breakpoint(2xl) {
                    font-size: 48px;
                }
            }
        }

        &-old {
            line-height: 1.2;
            text-decoration: line-through;
        }
    }

    &__type {
        margin-top: 4px;
        color: $gray;
    }

    &__sizes {
        display: none;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(44px, max-content));
        gap: 5px;
        margin-top: 10px;
        opacity: 0;
        transform: translateY(5px);
        transition: opacity $transition,
            transform $transition;

        @include breakpoint(lg) {
            display: grid;
        }

        .c-card:hover & {
            opacity: 1;
            transform: none;
        }

        &-link {
            position: relative;
            z-index: 1;
            min-width: 44px;
            height: 30px;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba($black, .1);
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 10px;
            transition: border-color $transition,
                background-color $transition,
                color $transition;

            &:hover,
            &.is-active {
                background-color: $black;
                border-color: $black;
                color: $white;
            }

            &.is-disabled {
                opacity: .2;
                pointer-events: none;
            }
        }
    }

    &__favourite {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(lg) {
            right: 10px;
            top: 10px;
        }

        .i-favourite-light {
            display: block;
        }

        .i-favourite-fill {
            display: none;
        }

        &.active {
            .i-favourite-light {
                display: none;
            }

            .i-favourite-fill {
                display: block;
            }
        }

        //.c-card.is-deleted & {
        //
        //    .i-favourite-light {
        //        display: block;
        //    }
        //    .i-favourite-fill {
        //        display: none;
        //    }
        //}
    }
}
