<div class="c-product-buy">
    <button class="f-btn f-btn--dark f-btn--block" data-modal-target="#sizesModal">Додати в кошик</button>
    <br>
    <br>
    <button class="f-btn f-btn--outline-gray f-btn--block js-cart-toggle">
        <i class="i-icon i-check"></i>Додано в кошик
    </button>
</div>
