<div class="c-product-price">
    <div class="c-product-price__title c-title">Ціна</div>
    <div class="c-product-price__old">7990 грн</div>
    <div class="c-product-price__current c-title c-title--3">6720 грн</div>
</div>
