<div class="c-product-props">
    <div class="c-product-props__item">
        <button class="c-product-ruler f-btn--link">
            <i class="i-icon i-ruler"></i>
            Розмірна сітка
        </button>
    </div>

    <div class="c-product-props__item">
        <div class="c-product-availability">
            <i class="i-icon i-check"></i>
            Є в наявності
        </div>
    </div>
</div>
