<div class="c-tooltip" id="registrationTooltip">
    <div class="c-tooltip__inner">Для замовлення товарів необхідна реєстрація. Якщо ви вже зареєстровані, увійдіть в свій обліковий запис</div>
</div>
