.c-reviews-create {
    display: flex;
    align-items: center;

    .f-btn {
        white-space: nowrap;
        text-transform: uppercase;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__text {
        line-height: 1.2;
        font-size: 18px;
        display: none;
        max-width: 220px;
        padding-right: 20px;

        @include breakpoint(xl) {
            display: block;
        }
    }
}
