.c-reviews-product {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;

    &__img {
        position: relative;
        display: block;
        width: 80px;
        flex-shrink: 0;
        margin-right: 20px;
        background-color: $gray-6;

        &::before {
            content: '';
            display: block;
            padding-bottom: calc(148 / 118 * 100%);
        }

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__title {
        margin-bottom: 8px;
    }

    &__price {
        font-weight: 700;
        font-size: 24px;
    }
}
