.c-reviews-vote {
    display: flex;
    align-items: center;
    margin: 0 -7px;
    margin-top: 14px;

    &__count {
        min-width: 28px;
        text-align: center;
        font-weight: 700;
    }

    &__btn {
        position: relative;
        z-index: 1;
        line-height: 0;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .i-icon {
            width: 16px;
            height: 16px;
        }
    }

    &__dislike {
        transform: rotate(180deg);
    }
}
