<div class="c-filter-section">
    <div class="c-filter-section__heading">
        <h3 class="c-filter-section__title c-title">Ціна, грн</h3>

        <button class="c-filter__clear f-btn--link">Очистити</button>
    </div>

    <div class="c-filter-section__inner l-box">
        <div class="c-filter-price">
            <div class="c-filter-price__item">
                <label class="f-label">від</label>
                <input type="text" class="f-input" placeholder="від ціни">
            </div>
            <div class="c-filter-price__item">
                <div class="f-label">до</div>
                <input type="text" class="f-input" placeholder="до ціни" value="19 655">
            </div>
        </div>
    </div>
</div>
