<div class="c-order-address">
    <div class="c-order-address__text"><b>Шоу-рум Parkas</b> в Луцьку на Івана Франка, 61</div>

    <div class="c-order-address__map c-map js-map" data-lat="50.75306581225344" data-lng="25.32897578465835"></div>
</div>
