<div class="c-order-cart">
    {% for item in [
        {
            image: '../img/demo/catalog/1_375x375',
            title: 'Парка AirBoss Shuttle Parka',
            price: '12 440 грн',
            isLast: true,
            props: [
                {
                    title: 'Колір:',
                    desc: 'синій'
                },
                {
                    title: 'Розмір:',
                    desc: 'M (44)'
                },
            ]
        },
        {
            image: '../img/demo/catalog/2_375x375',
            title: 'Бомбер Alpha Industries',
            price: '5 070 грн',
            props: [
                {
                    title: 'Колір:',
                    desc: 'чорний'
                },
                {
                    title: 'Розмір:',
                    desc: 'M (44)'
                },
            ]
        },
    ] %}
        {% include "../cart/card.twig" with item %}
    {% endfor %}
</div>
