<div class="c-order-section c-order-form">
    <div class="c-order-section__heading">
        <h2 class="c-order-section__title c-title c-title--3">Твої дані</h2>

        <div class="ml-2 -mt-1" data-tooltip-target="#registrationTooltip">
            <i class="i-icon i-info"></i>
        </div>

        <button type="button" class="f-btn f-btn--outline-dark f-btn--rounded" data-modal-target="#signupModal">Увійти</button>
    </div>

    <div class="f-layout">
        <div class="f-layout__item">
            <div class="f-group">
                <label for="orderDeliveryFirstName" class="f-label">Ім’я*</label>
                <input id="orderDeliveryFirstName" type="text" class="f-input" placeholder="Олександр">
            </div>
        </div>
        <div class="f-layout__item">
            <div class="f-group">
                <label for="orderDeliveryLastName" class="f-label">Прізвище*</label>
                <input id="orderDeliveryLastName" type="text" class="f-input" placeholder="Олександров">
            </div>
        </div>
        <div class="f-layout__item">
            <div class="f-group">
                <label for="orderDeliveryPhone" class="f-label">Номер телефону*</label>
                <div class="relative">
                    <input id="orderDeliveryPhone" type="tel" class="f-input" value="+380 98 765-43-21" placeholder="+380 XX XXX-XX-XX">
                    <button type="button" class="f-input-right f-btn--link">Надісласти код</button>
                </div>
            </div>
        </div>
        <div class="f-layout__item">
            <div class="f-group">
                <label for="orderDeliveryCode" class="f-label">Код із СМС*</label>
                <div class="grid grid-cols-2 gap-2.5">
                    <input id="orderDeliveryCode" type="text" class="f-input" placeholder="XXXXXX">
                    <button type="button" class="f-btn f-btn--dark" disabled="disabled">Підтвердити</button>
                </div>
            </div>
        </div>
        <div class="f-layout__item">
            <div class="f-group">
                <label for="orderDeliveryEmail" class="f-label">Електронна адреса*</label>
                <input id="orderDeliveryEmail" type="email" class="f-input" placeholder="mailbox@mail.com">
            </div>
        </div>
    </div>
</div>
