<div class="c-order-section">
    <h2 class="c-order-section__title c-title c-title--3">Спосіб доставки</h2>

    <div class="f-layout">
        <div class="f-layout__item f-layout__item--1/3">
            <div class="f-checkblock">
                <input id="orderDelivery1" name="orderDelivery" type="radio" class="f-checkblock-input">
                <label for="orderDelivery1" class="f-checkblock-label">
                    <div class="f-checkblock-label__title">Нова пошта</div>
                    <div class="f-checkblock-label__img">
                        <img src="../img/svg/np.svg" alt="Nova Poshta" width="36" height="36">
                    </div>
                </label>
            </div>
        </div>
        <div class="f-layout__item f-layout__item--1/3">
            <div class="f-checkblock">
                <input id="orderDelivery2" checked name="orderDelivery" type="radio" class="f-checkblock-input">
                <label for="orderDelivery2" class="f-checkblock-label">
                    <div class="f-checkblock-label__title">Самовивіз із магазину</div>
                    <div class="f-checkblock-label__info">Пн–Сб з 10 до 18</div>
                </label>
            </div>
        </div>
        <div class="f-layout__item f-layout__item--1/3">
            <div class="f-checkblock">
                <input id="orderDelivery3" name="orderDelivery" type="radio" class="f-checkblock-input">
                <label for="orderDelivery3" class="f-checkblock-label">
                    <div class="f-checkblock-label__title">Доставка кур’єром в Луцьку</div>
                </label>
            </div>
        </div>
    </div>

    <div class="pt-5 c-order-form" data-module="order:delivery">
        <div class="f-layout">
            <div class="f-layout__item">
                <div class="f-group">
                    <label for="deliveryCity" class="f-label">Оберіть населений пункт</label>

                    <select name="deliveryCity" id="deliveryCity" class="f-input">
                        <option value="" disabled>Виберіть місто</option>
                    </select>
                </div>
            </div>
            <div class="f-layout__item">
                <div class="f-group">
                    <label for="deliveryDepartment" class="f-label">Відділення або поштомат</label>

                    <select name="deliveryDepartment" id="deliveryDepartment" class="f-input">
                        <option value="" disabled>Виберіть відділення</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    {% include "./address.twig" %}
</div>
