<div class="c-order-promo">
    <div class="c-order-promo__title">Ура, у мене є промо-код!</div>

    <div class="c-order-promo__inner">
        <div class="f-group c-order-promo__form">
            <div class="relative">
                <input type="text" class="f-input" placeholder="XXXXXX">

                <button type="button" class="f-input-right f-btn--link">Використати</button>
            </div>
        </div>

        <div class="c-order-promo__results">
            <div class="c-order-promo__results-card">–10%<i class="i-icon i-check"></i></div>
            <div class="c-order-promo__results-card">500 UAH<i class="i-icon i-check"></i></div>
            <div class="c-order-promo__results-text">Промо-код застосовано</div>
        </div>
    </div>
</div>
