<div class="c-order-receipt">
    <div class="c-order-receipt__progress" style="--progress: 30%;">450 грн до безкоштовної доставки</div>

    <dl class="c-order-receipt__total">
        <dt class="c-title c-title--4">Всього</dt>
        <dd class="c-title c-title--3">16 810 грн</dd>

        <dt>Товари, 3 шт.</dt>
        <dd>17 220 грн</dd>

        <dt>Знижка</dt>
        <dd>–10% (500 грн)</dd>

        <dt>Доставка</dt>
        <dd>100 грн</dd>
    </dl>

    <dl class="c-order-receipt__details">
        <dt>Спосіб доставки</dt>
        <dd>Нова пошта, Відділення № 10, м. Луцьк, <nobr>пр-т. Волі, 35</nobr></dd>

        <dt>Спосіб оплати</dt>
        <dd>при отриманні</dd>
    </dl>

    <div class="f-submit">
        <button type="button" class="f-btn f-btn--dark f-btn--block" data-modal-target="#orderSuccessModal">Замовити</button>

        <div class="f-submit__text f-submit__text--check"> <i class="i-icon i-check"></i>Погоджуюся з <a class="f-btn--link" href="#">Правилами користування</a> онлайн-магазином Parkas</div>
    </div>
</div>
