.c-footer {
    line-height: 1.6;
    padding-top: 20px;
    padding-bottom: 24px;

    @include breakpoint(md) {
        font-size: 16px;
        padding-top: 40px;
        padding-bottom: 32px;
    }

    &-inner {
        display: grid;
        gap: 40px;

        @include breakpoint(sm) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include breakpoint(md) {
            row-gap: 70px;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include breakpoint(xl) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    &-nav {
        font-weight: 700;
        line-height: 2;
        text-transform: uppercase;

        .is-disabled {
            opacity: .2;
            pointer-events: none;
        }
    }

    &-contacts {
        display: grid;
        gap: 40px;
        text-transform: uppercase;

        @include breakpoint(sm) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-column: span 2 / span 2;
        }

        @include breakpoint(md) {
            grid-template-columns: none;
            grid-column: auto;
        }

        @include breakpoint(xl) {
            grid-column: span 2 / span 2;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &__title {
            font-weight: 700;
            text-transform: uppercase;
        }

        &__item {
            font-size: 16px;
        }
    }

    &-socials {
        margin-top: 10px;

        .i-icon {
            width: 30px;
            height: 30px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(auto-fit, 30px);
            gap: 10px;
        }
    }

    &-copy {

        @include breakpoint(sm) {
            grid-column: span 2 / span 2;
        }
    }

    &-languages {
        text-transform: uppercase;
        font-weight: 700;

        @include breakpoint(xl) {
            grid-column: span 2 / span 2;
        }

        &__list {
            display: flex;
            margin: -10px;
        }

        &__link {
            display: block;
            padding: 10px;
            opacity: .5;

            .is-active & {
                opacity: 1;
                pointer-events: none;
            }
        }
    }
}
