// Reset
:root {
    --header-height: 60px;
}

:focus-visible {
    outline-color: $black;
}

* {
    border: 0 solid rgba($black, .1);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $black;
    font-family: $font-family-base;
    font-size: $text-base;
    line-height: $leading-base;
    padding-top: var(--header-height);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;

    &.is-nospace {
        padding-top: 0;
    }

    > main {
        flex-grow: 1;
    }

    *:not(.c-cart):not(.scrollbar-measure) {

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            background-color: $white;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            box-shadow: none;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $gray-4;
            transition: background-color $transition;

            &:hover {
                background-color: $gray;
            }
        }
    }
}

a,
button {
    color: inherit;
    // -webkit-tap-highlight-color: rgba($black, 0.1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: border-color $transition,
        background-color $transition,
        color $transition;
}
