{% extends '_templates/base.twig' %}

{% set pageId = '00' %}
{% set pageTitle = 'Головна' %}

{% block content %}
    <h1>Page heading</h1>

    <span>{{ brandName }}</span>

    <div id="test"></div>

    <img src="../img/map-pin.png" alt="">
    <img src="../img/map-clock.png" alt="">
    <img src="../img/map-phone.png" alt="">
    <img src="../img/zzz/brand-1.jpg" alt="">
{% endblock %}
